<!DOCTYPE kpartgui>
<kpartgui name="systemsettings" version="1">

<MenuBar>
	<Menu name="file"><Text>&amp;File</Text>
		<Action name="resetModule"/>
		<Action name="defaultModule"/>
		<Separator/>
	</Menu>

	<Menu name="view"><Text>&amp;View</Text>
		<Action name="showAll"/>
	</Menu>

	<Menu name="help">
		<Action name="help_about_module" append="about_merge"/>
	</Menu>
</MenuBar>

<ToolBar name="mainToolBar">
	<Action name="showAll"/>
	<Separator/>
	<Action name="searchReset"/>
	<Action name="searchText"/>
	<Action name="search"/>
</ToolBar>

<ActionProperties>
	<Action icon="kcontrol" name="showAll" />
</ActionProperties>

</kpartgui>
