<!DOCTYPE kpartgui>
<kpartgui name="systemsettings" version="1">

<ToolBar name="mainToolBar" iconText="icontextright">
	<Action name="showAll"/>
	<Separator/>
	<Action name="spacer"/>
	<Action name="searchText"/>
	<Action name="search"/>
</ToolBar>

<ActionProperties>
	<Action shortcut="CTRL+A" name="showAll" />
</ActionProperties>

</kpartgui>
