[Desktop Entry]
Encoding=UTF-8
Exec=systempreferences -caption "%c" %i %m
Icon=kcontrol
Type=Application
DocPath=systempreferences/index.html
X-KDE-StartupNotify=true

Name=System Preferences
Name[br]=Dibarzhoù ar reizhiad
Name[el]=Προτιμήσεις συστήματος
Name[et]=Süsteemi eelistused
Name[it]=Preferenze di sistema
Name[mt]=Preferenzi tas-sistema
Name[nl]=Systeemvoorkeuren
Name[pa]=ਸਿਸਟਮ ਪਸੰਦ
Name[pt_BR]=Configurações do Sistema
Name[ru]=Системное администрирование
Name[sv]=Systeminställningar

X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Core;
