[Desktop Entry]
Encoding=UTF-8
Exec=systempreferences -caption "%c" %i %m
Icon=kcontrol
Type=Application
DocPath=systempreferences/index.html
X-KDE-StartupNotify=true

Name=System Preferences
Name[br]=Dibarzhoù ar reizhiad
Name[cs]=Systomové preference
Name[el]=Προτιμήσεις συστήματος
Name[et]=Süsteemi eelistused
Name[ga]=Sainroghanna an Chórais
Name[it]=Preferenze di sistema
Name[mt]=Preferenzi tas-sistema
Name[nl]=Systeemvoorkeuren
Name[pa]=ਸਿਸਟਮ ਪਸੰਦ
Name[pl]=Preferencje systemu
Name[pt]=Preferências do Sistema
Name[pt_BR]=Configurações do Sistema
Name[ru]=Системное администрирование
Name[sv]=Systeminställningar
Name[tr]=Sistem Tercihleri
Name[xx]=xxSystem Preferencesxx
Name[zh_CN]=系统首选项

X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Core;
