[Desktop Entry]
Encoding=UTF-8
Exec=systemsettings -caption "%c" %i %m
Icon=systemsettings
Type=Application
DocPath=systemsettings/index.html
X-KDE-StartupNotify=true

Name=System Settings
Name[be]=Сістэмныя настаўленні
Name[bg]=Уведомяване
Name[de]=Kontrollzentrum
Name[el]=Ρυθμίσεις συστήματος
Name[es]=Opciones del sistema
Name[fa]=تنظیمات سیستم
Name[ga]=Socruithe an Chórais
Name[ja]=システム設定
Name[nds]=Systeeminstellen
Name[nl]=Systeeminstellingen
Name[pa]=ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pt]=Configuração do Sistema
Name[pt_BR]=Configuração do Sistema
Name[sv]=Systeminställningar
Name[uk]=Системні параметри
Name[zh_TW]=系統設定

X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Core;
