[Desktop Entry]
Exec=systemsettings -caption "%c" %i
Icon=systemsettings
Type=Application
X-DocPath=systemsettings/index.html
X-KDE-StartupNotify=true

GenericName=System Settings

Name=System Settings
Name[ar]=إعدادات النظام
Name[be]=Сістэмныя настаўленні
Name[bg]=Системни настройки
Name[br]=Dibarzhoù ar reizhiad
Name[ca]=Arranjament del sistema
Name[de]=Systemeinstellungen
Name[el]=Ρυθμίσεις συστήματος
Name[eo]=Sistema agordo
Name[es]=Preferencias del sistema
Name[et]=Süsteemi seadistused
Name[fa]=تنظیمات سیستم
Name[fi]=Järjestelmän asetusket
Name[ga]=Socruithe an Chórais
Name[he]=הגדרות מערכת
Name[it]=Impostazioni di sistema
Name[ja]=システム設定
Name[kk]=Жүйе параметрлері
Name[km]=ការ​កំណត់​ប្រព័ន្ធ​
Name[ko]=시스템 설정
Name[lv]=Sistēmas uzstādījumi
Name[nb]=Systeminnstillinger
Name[nds]=Systeeminstellen
Name[ne]=प्रणाली सेटिङ
Name[nl]=Systeeminstellingen
Name[nn]=Systemoppsett
Name[pa]=ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pt]=Configuração do Sistema
Name[pt_BR]=Configurações do Sistema
Name[sl]=Sistemske nastavitve
Name[sr]=Системске поставке
Name[sr@latin]=Sistemske postavke
Name[sv]=Systeminställningar
Name[th]=ตั้งค่าระบบ
Name[uk]=Системні параметри
Name[wa]=Apontiaedjes do sistinme
Name[x-test]=xxSystem Settingsxx
Name[zh_CN]=系统设置
Name[zh_TW]=系統設定

X-DBUS-ServiceType=Unique
Categories=Qt;KDE;Core;
