[Desktop Entry]
Encoding=UTF-8
Exec=systemsettings -caption "%c" %i %m
Icon=systemsettings
Type=Application
DocPath=systemsettings/index.html
X-KDE-StartupNotify=true

Name=System Settings
Name[es]=Opciones del sistema
Name[ga]=Socruithe an Chórais
Name[ja]=システム設定
Name[pt]=Configuração do Sistema
Name[pt_BR]=Configuração do Sistema
Name[sv]=Systeminställningar
Name[zh_TW]=系統設定

X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Core;
