[Desktop Entry]
Icon=view-list-tree
Type=Service
X-KDE-ServiceTypes=SystemSettingsView

X-KDE-Library=classic_mode
X-KDE-Keywords=System Settings

Name=Classic Tree View
Name[csb]=Klasykòwi wëzdrzatk drzewiã
Name[da]=Klassisk trævisning
Name[et]=Klassikaline puuvaade
Name[fi]=Klassinen puunäkymä
Name[gu]=પરંપરાગત વૃક્ષ દેખાવ
Name[km]=ទិដ្ឋភាព​មែកធាង​បុរាណ
Name[nds]=Klass'sch Boomansicht
Name[pt]=Árvore Clássica
Name[pt_BR]=Visão em árvore clássica
Name[ru]=Дерево
Name[sv]=Klassisk trädvy
Name[tr]=Klasik Ağaç Görünümü
Name[uk]=Класичний перегляд деревом
Name[zh_TW]=傳統樹狀檢視
Comment=A Classic KDE 3 KControl style system settings view.
Comment[csb]=Systemòwi nastôw w klasykòwim sztélu KDE 3
Comment[da]=En klassisk KDE 3 KControl-lignende visning af Systemindstillinger.
Comment[et]=KDE3 klassikalise juhtimiskeskuse laadis süsteemi seadistuste vaade.
Comment[km]=ទិដ្ឋភាព​ការ​កំណត់​ប្រព័ន្ធ​រចនាប័ទញម​របស់ KDE 3 KControl បុរាណ ។
Comment[nds]=En klass'sch Ansicht för de Systeeminstellen, as bi KDE-3 sien KControl.
Comment[pt]=A vista para a configuração do sistema clássica do KControl do KDE 3.
Comment[pt_BR]=Um estilo de visão clássico das configurações do sistema do KControl do KDE 3
Comment[sv]=En klassisk systeminställningsvy som liknar inställningscentralen i KDE 3.
Comment[tr]=Klasik KDE3 KControl biçimi sistem ayarları görünümü.
Comment[uk]=Класичний перегляд параметрів у стилі KControl з KDE 3.
Comment[zh_TW]=傳統 KDE3 KControl 風格的系統設定檢視。
