[Desktop Entry]
Icon=view-list-tree
Type=Service
X-KDE-ServiceTypes=BaseMode

X-KDE-Library=classic_mode
X-KDE-Keywords=System Settings

Name=Classic Tree View
Comment=A Classic KDE 3 KControl styled system settings
