[Desktop Entry]
Icon=applications-science
Type=Service
X-KDE-ServiceTypes=SystemSettingsView
X-KDE-Library=quick_mode

X-KDE-Keywords=System Settings
Name=Breeze View
Comment=Experimental QtQuick-Based View in Breeze Style

