[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-Weight=100
Enabled=false

Name=Hidden
Name[ca]=Ocult
Name[ca@valencia]=Ocult
Name[en_GB]=Hidden
Name[gl]=Agochado
Name[it]=Nascosto
Name[nl]=Verborgen
Name[pl]=Ukryte
Name[pt]=Escondido
Name[sv]=Dold
Name[uk]=Приховане
Name[x-test]=xxHiddenxx
Name[zh_CN]=隐藏
Name[zh_TW]=隱藏的
