[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=desktopbehavior
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=40
Icon=preferences-desktop-theme

Name=Desktop Behavior
Name[ca]=Comportament de l'escriptori
Name[cs]=Chování pracovního prostředí
Name[en_GB]=Desktop Behavior
Name[es]=Comportamiento del escritorio
Name[fi]=Työpöydän toiminta
Name[id]=Perilaku Desktop
Name[nds]=Schriefdischbedregen
Name[nl]=Gedrag van bureaublad
Name[pl]=Zachowanie pulpitu
Name[pt]=Comportamento da Área de Trabalho
Name[pt_BR]=Comportamento da área de trabalho
Name[sk]=Správanie pracovnej plochy
Name[sl]=Obnašanje namizja
Name[sr]=Понашање површи
Name[sr@ijekavian]=Понашање површи
Name[sr@ijekavianlatin]=Ponašanje površi
Name[sr@latin]=Ponašanje površi
Name[sv]=Skrivbordsbeteende
Name[uk]=Поведінка стільниці
Name[x-test]=xxDesktop Behaviorxx
