[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=regionalsettings-formats
X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=10
Icon=preferences-desktop-locale

Name=Region & Language
Name[bg]=Език и регионални настройки
Name[ca]=Regió i idioma
Name[ca@valencia]=Regió i idioma
Name[es]=Región e idioma
Name[eu]=Eskualdea eta hizkuntza
Name[fr]=Pays & Langue
Name[ia]=Region & Linguage
Name[ka]=რეგიონი და ენა
Name[nl]=Regio & taal
Name[sa]=क्षेत्र एवं भाषा
Name[sl]=Regija in jezik
Name[tr]=Bölge ve Dil
Name[uk]=Регіон та мова
Name[x-test]=xxRegion & Languagexx
