[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=shortcuts
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=60
Icon=preferences-desktop-keyboard-shortcut

Name=Shortcuts
Name[ca]=Dreceres
Name[en_GB]=Shortcuts
Name[es]=Accesos rápidos
Name[fi]=Pikanäppäimet
Name[id]=Jalan Pintas
Name[nds]=Tastkombinatschonen
Name[nl]=Sneltoetsen
Name[pl]=Skróty
Name[pt]=Atalhos
Name[pt_BR]=Atalhos
Name[sk]=Skratky
Name[sl]=Bližnjice
Name[sr]=Пречице
Name[sr@ijekavian]=Пречице
Name[sr@ijekavianlatin]=Prečice
Name[sr@latin]=Prečice
Name[sv]=Genvägar
Name[uk]=Скорочення
Name[x-test]=xxShortcutsxx
