[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=network
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=10
Icon=preferences-system-network-connection

Name=Internet
