[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=font
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=70
Icon=preferences-desktop-font

Name=Font
Name[ar]=الخطوط
Name[ast]=Fonte
Name[bs]=Vrsta slova
Name[ca]=Tipus de lletra
Name[ca@valencia]=Tipus de lletra
Name[cs]=Písmo
Name[da]=Skrifttype
Name[de]=Schriftart
Name[el]=Γραμματοσειρά
Name[en_GB]=Font
Name[es]=Tipo de letra
Name[et]=Font
Name[fi]=Fontti
Name[fr]=Police
Name[gl]=Tipo de letra
Name[he]=גופנים
Name[hu]=Betűtípus
Name[ia]=Font
Name[id]=Fonta
Name[it]=Carattere
Name[ja]=フォント
Name[ko]=글꼴
Name[lt]=Šriftas
Name[nb]=Skrift
Name[nds]=Schriftoort
Name[nl]=Lettertype
Name[nn]=Skrifter
Name[pa]=ਫ਼ੋਟ
Name[pl]=Czcionki
Name[pt]=Tipo de Letra
Name[pt_BR]=Fonte
Name[ro]=Font
Name[ru]=Шрифты
Name[sk]=Písmo
Name[sl]=Pisave
Name[sr]=Фонт
Name[sr@ijekavian]=Фонт
Name[sr@ijekavianlatin]=Font
Name[sr@latin]=Font
Name[sv]=Teckensnitt
Name[tr]=Yazı Tipi
Name[uk]=Шрифт
Name[x-test]=xxFontxx
Name[zh_CN]=字体
Name[zh_TW]=字型
