[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=personalization
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=60
Icon=preferences-desktop-user

Name=Personalization
Name[ca]=Personalització
Name[de]=Persönliche Informationen
Name[en_GB]=Personalisation
Name[es]=Personalización
Name[fi]=Personointi
Name[id]=Personalisasi
Name[nds]=Persöönlich Topassen
Name[nl]=Personalisatie
Name[pl]=Personalizacja
Name[pt]=Personalização
Name[pt_BR]=Personalização
Name[sk]=Prispôsobenie
Name[sl]=Osebna prilagoditev
Name[sr]=Прилагођавање
Name[sr@ijekavian]=Прилагођавање
Name[sr@ijekavianlatin]=Prilagođavanje
Name[sr@latin]=Prilagođavanje
Name[sv]=Personlig information
Name[uk]=Персоналізація
Name[x-test]=xxPersonalizationxx
