[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-appearance-and-behavior
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Application Appearance and Behavior
Name[en_GB]=Application Appearance and Behaviour
Name[kk]=Қолданба көрнісі мен тәртібі
Name[nb]=Programutseende og -oppførsel
Name[nl]=Uiterlijk en gedrag van programma
Name[pt]=Aparência e Comportamento das Aplicações
Name[pt_BR]=Aparência e comportamento dos aplicativos
Name[sv]=Programutseende och beteende
Name[uk]=Вигляд і поведінка вікон програм
Name[x-test]=xxApplication Appearance and Behaviorxx
Name[zh_TW]=應用程式外觀與行為
