[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=personal
X-KDE-System-Settings-Parent-Category=general
Icon=preferences-desktop-personal

Name=Personal
Name[ar]=الملاحظات الشخصية
Name[be]=Асабістыя
Name[bg]=Лични бележки
Name[de]=Persönliches
Name[el]=Προσωπικά
Name[fa]=شخصی
Name[ga]=Pearsanta
Name[ja]=個人
Name[km]=ផ្ទាល់​ខ្លួន
Name[nds]=Persöönlich
Name[nl]=Persoonlijk
Name[pa]=ਨਿੱਜੀ
Name[pt]=Pessoal
Name[pt_BR]=Pessoal
Name[sl]=Osebno
Name[sv]=Personligt
Name[uk]=Особисті параметри
Name[zh_TW]=個人
