[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=session
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-Weight=70
Icon=preferences-system-login

Name=Session
