[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=input-devices
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=40
Icon=preferences-desktop-peripherals

Name=Human Input Devices
Name[ca]=Dispositius d'entrada humana
Name[nl]=Menselijke invoerapparaten
Name[pl]=Ludzkie urządzenia wejściowe
Name[pt]=Dispositivos de Entrada
Name[sv]=Inmatningsenheter
Name[uk]=Пристрої введення
Name[x-test]=xxHuman Input Devicesxx
