[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=regional-and-language
X-KDE-System-Settings-Parent-Category=personal
Icon=preferences-desktop-locale

Name=Regional & Language
Name[be]=Краіна/Рэгіён і Мова
Name[bg]=Държава и език
Name[de]=Land/Region & Sprache
Name[el]=Τοπικές ρυθμίσεις & γλώσσα
Name[es]=Región e idioma
Name[fa]=منطقه‌ای و زبان
Name[ga]=Réigiún agus Teanga
Name[he]=איזור ושפה
Name[ja]=国と言語
Name[km]=តំបន់ និង​ភាសា​
Name[nds]=Land, Regioon un Spraak
Name[nl]=Land/regio en taal
Name[pa]=ਖੇਤਰੀ ਅਤੇ ਭਾਸ਼ਾ
Name[pt]=Região e Língua
Name[pt_BR]=Região e Língua
Name[sl]=Država/regija in jezik
Name[sv]=Region och språk
Name[uk]=Країна/регіон і мова
Name[zh_CN]=地区和语言
Name[zh_TW]=地區與語言
