[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=startup-and-shutdown
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-other

Name=Startup and Shutdown
