[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=workspacetheme
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=40
Icon=preferences-desktop-theme

Name=Workspace Theme
Name[ca]=Tema de l'espai de treball
Name[es]=Tema del espacio de trabajo
Name[fi]=Työtilan teema
Name[id]=Tema Ruang Kerja
Name[nds]=Arbeitrebeet-Muster
Name[nl]=Thema van werkruimte
Name[pl]=Wystrój przestrzeni roboczej
Name[pt]=Tema da Área de Trabalho
Name[pt_BR]=Tema do espaço de trabalho
Name[sk]=Téma pracovnej plochy
Name[sv]=Arbetsytans tema
Name[uk]=Тема робочого простору
Name[x-test]=xxWorkspace Themexx
