[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=network-settings
X-KDE-System-Settings-Parent-Category=network-and-connectivity
Icon=preferences-system-network

Name=Network Settings
Name[ar]=إعدادات الشبكة
Name[be]=Настаўленні сеткі
Name[bg]=Мрежови настройки
Name[de]=Netzwerk-Einstellungen
Name[el]=Ρυθμίσεις δικτύου
Name[es]=Preferencias de red
Name[fa]=تنظیمات شبکه
Name[ga]=Socruithe Líonra
Name[he]=הגדרות רשת
Name[ja]=ネットワークの設定
Name[km]=ការ​កំណត់​បណ្តាញ​
Name[ko]=네트워크 설정
Name[nds]=Nettwarkinstellen
Name[ne]=सञ्जाल सेटिङ
Name[nl]=Netwerkinstellingen
Name[pa]=ਨੈਟਵਰਕ ਸੈਟਿੰਗ
Name[pt]=Configuração da Rede
Name[pt_BR]=Configurações de Rede
Name[sl]=Nastavitve omrežja
Name[sv]=Nätverksinställningar
Name[uk]=Мережні параметри
Name[zh_CN]=网络设置
Name[zh_TW]=網路設定
