[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=power-management
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-Weight=20
Icon=preferences-system-power-management

Name=Energy Saving
Name[ar]=حفظ الطاقة
Name[az]=Enerjiyə qənaət
Name[be]=Захаванне энергіі
Name[bg]=Пестене на енергия
Name[ca]=Estalvi d'energia
Name[ca@valencia]=Estalvi d'energia
Name[cs]=Úsporný režim
Name[da]=Strømbesparelse
Name[de]=Energiesparen
Name[el]=Εξοικονόμηση ενέργειας
Name[en_GB]=Energy Saving
Name[eo]=Energiŝparado
Name[es]=Ahorro de energía
Name[et]=Energia säästmine
Name[eu]=Energia aurreztea
Name[fi]=Virransäästö
Name[fr]=Économie d'énergie
Name[gl]=Aforro enerxético
Name[he]=חיסכון באנרגיה
Name[hi]=ऊर्जा बचत
Name[hu]=Energiatakarékosság
Name[ia]=Sparnio de energia
Name[id]=Hemat Energi
Name[is]=Orkusparnaður
Name[it]=Risparmio energetico
Name[ja]=電力節電
Name[ka]=ენერგიის შენახვა
Name[ko]=에너지 절약
Name[lt]=Energijos taupymas
Name[ml]=ഊർജ്ജ സംരക്ഷണം
Name[nb]=Strømsparing
Name[nl]=Energiebesparing
Name[nn]=Straum­sparing
Name[pa]=ਊਰਜਾ ਬੱਚਤ
Name[pl]=Oszczędzanie energii
Name[pt]=Poupança de Energia
Name[pt_BR]=Economia de energia
Name[ro]=Economisire energie
Name[ru]=Энергосбережение
Name[sa]=ऊर्जा संरक्षण
Name[sk]=Úspora energie
Name[sl]=Varčevanje z energijo
Name[sv]=Energibesparing
Name[ta]=ஆற்றல் சேமிப்பு
Name[tr]=Enerji Tasarrufu
Name[uk]=Заощадження енергії
Name[vi]=Tiết kiệm năng lượng
Name[x-test]=xxEnergy Savingxx
Name[zh_CN]=节能
Name[zh_TW]=節能選項
