[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=system-administration
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=100
Icon=preferences-system

Name=System
