[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=applications
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=70
Icon=applications-all

Name=Apps & Windows
