[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=display
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=210
Icon=preferences-desktop-display

Name=Display & Monitor
Name[ar]=العرض والشّاشة
Name[ast]=Pantalla y monitor
Name[az]=Ekran və monitor
Name[be]=Дысплэй і манітор
Name[bg]=Екран и монитор
Name[ca]=Pantalla i monitor
Name[ca@valencia]=Pantalla i monitor
Name[cs]=Obrazovka a monitor
Name[da]=Skærme
Name[de]=Anzeige & Bildschirm
Name[el]=Οθόνη και απεικόνιση
Name[en_GB]=Display & Monitor
Name[eo]=Bildigo & Ekrano
Name[es]=Pantalla y monitor
Name[eu]=Pantaila eta monitorea
Name[fi]=Näyttö ja näkymä
Name[fr]=Affichage & Écran
Name[gl]=Pantalla e monitor
Name[he]=תצוגה וצג
Name[hu]=Kijelző és monitor
Name[ia]=Monstrator & Monitor
Name[id]=Display & Monitor
Name[ie]=Monitor
Name[is]=Skjár
Name[it]=Schermo e video
Name[ja]=ディスプレイとモニタ
Name[ka]=ჩვენება & ეკრანი
Name[ko]=디스플레이와 모니터
Name[lt]=Ekranas ir monitorius
Name[lv]=Displejs un monitors
Name[nl]=Scherm & monitor
Name[nn]=Skjerm og skjerm­bilete
Name[pa]=ਡਿਸਪਲੇਅ ਤੇ ਮਾਨੀਟਰ
Name[pl]=Wyświetlanie i monitor
Name[pt_BR]=Tela e monitor
Name[ro]=Afișaj și monitor
Name[ru]=Экран и монитор
Name[sa]=प्रदर्शनं च पटलम्
Name[sk]=Obrazovka a monitor
Name[sl]=Zasloni in prikazovalniki
Name[sv]=Bildskärm
Name[ta]=காட்சிக் கருவிகள்
Name[tr]=Görüntü ve Monitör
Name[uk]=Показ зображення і монітор
Name[x-test]=xxDisplay & Monitorxx
Name[zh_CN]=显示和监视器
Name[zh_TW]=顯示與螢幕
Comment=Display Settings
Comment[af]=Skerm Instellings
Comment[ar]=إعدادات العرض
Comment[ast]=Configuración de pantalles
Comment[az]=Ekran ayarları
Comment[be]=Налады экрана
Comment[be@latin]=Nałady ekrana
Comment[bg]=Настройки на екрана
Comment[bn]=ডিসপ্লে সেটিংস
Comment[bn_IN]=প্রদর্শন সংক্রান্ত বৈশিষ্ট্য
Comment[br]=Kefluniañ an diskwel
Comment[bs]=Postavke ekrana
Comment[ca]=Arranjament de la pantalla
Comment[ca@valencia]=Configureu la pantalla
Comment[cs]=Nastavení obrazovky
Comment[csb]=Ùstôw ekranu
Comment[cy]=Gosodiadau Arddangos
Comment[da]=Skærmindstillinger
Comment[de]=Anzeige-Einstellungen
Comment[el]=Ρυθμίσεις οθόνης
Comment[en_GB]=Display Settings
Comment[eo]=Bildigaj Agordoj
Comment[es]=Preferencias de la pantalla
Comment[et]=Monitoride seadistused
Comment[eu]=Bistaratze-ezarpenak
Comment[fa]=نمایش تنظیمات
Comment[fi]=Näytön asetukset
Comment[fr]=Configuration de l'affichage
Comment[fy]=Byldskerm ynstellings
Comment[ga]=Socruithe an Scáileáin
Comment[gl]=Configuración da pantalla.
Comment[gu]=ડિસ્પ્લે ગોઠવણીઓ
Comment[he]=הגדרות תצוגה
Comment[hi]=प्रकटन विन्यास
Comment[hne]=देखइया सेटिंग
Comment[hr]=Postavke zaslona
Comment[hsb]=Nastajenja za wobrazowku
Comment[hu]=Megjelenési beállítások
Comment[ia]=Preferentias de Monstrator
Comment[id]=Pengaturan Displai
Comment[ie]=Parametres de monitor
Comment[is]=Skjástillingar
Comment[it]=Impostazioni dello schermo
Comment[ja]=ディスプレイの設定
Comment[ka]=ეკრანის მორგება
Comment[kk]=Дисплей баптаулары
Comment[km]=កំណត់​ការ​បង្ហាញ
Comment[kn]=ಪ್ರದರ್ಶಕದ ಸಂಯೋಜನೆಗಳು
Comment[ko]=디스플레이 설정
Comment[ku]=Mîhengên Dîmenderê
Comment[lt]=Ekrano nuostatos
Comment[lv]=Ekrāna iestatījumi
Comment[mai]=जमावट देखाबू
Comment[mk]=Поставувања на приказот
Comment[ml]=പ്രദര്‍ശനത്തിന്റെ സജ്ജീകരണങ്ങള്‍
Comment[mr]=डिस्प्ले संयोजना
Comment[ms]=Seting Paparan
Comment[nb]=Skjerminnstillinger
Comment[nds]=Dorstellen inrichten
Comment[ne]=सेटिङ प्रदर्शन गर्नुहोस्
Comment[nl]=Beeldscherminstellingen
Comment[nn]=Skjerm­innstillingar
Comment[or]=ପ୍ରଦର୍ଶକ ସଂରଚନା
Comment[pa]=ਡਿਸਪਲੇਅ ਸੈਟਿੰਗਾਂ
Comment[pl]=Ustawienia wyświetlacza
Comment[pt]=Configuração do ecrã
Comment[pt_BR]=Configurações da tela
Comment[ro]=Configurări afișare
Comment[ru]=Настройка экрана
Comment[sa]=प्रदर्शन समायोजनानि
Comment[se]=Šearbmaheivehusat
Comment[si]=සංදර්ශන සැකසුම්
Comment[sk]=Nastavenia obrazovky
Comment[sl]=Nastavitve zaslonov
Comment[sr]=Поставке екрана
Comment[sr@ijekavian]=Поставке екрана
Comment[sr@ijekavianlatin]=Postavke ekrana
Comment[sr@latin]=Postavke ekrana
Comment[sv]=Anpassa bildskärm
Comment[ta]=காட்சி அமைப்புகள்
Comment[te]=ప్రదర్శన అమరికలు
Comment[tg]=Танзимоти дисплей
Comment[th]=ตั้งค่าต่าง ๆ ของการแสดงผล
Comment[tr]=Görüntü ayarları
Comment[ug]=كۆرۈنمە يۈز تەڭشىكى
Comment[uk]=Налаштування дисплея
Comment[uz]=Displeyning moslamalari
Comment[uz@cyrillic]=Дисплейнинг мосламалари
Comment[vi]=Thiết lập hiển thị
Comment[wa]=Apontiaedjes do Håynaedje
Comment[x-test]=xxDisplay Settingsxx
Comment[zh_CN]=显示设置
Comment[zh_TW]=顯示設定

