[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=font
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=20
Icon=preferences-desktop-font

Name=Text & Fonts
