[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=rootcategory
X-KDE-System-Settings-Parent-Category=

X-KDE-Weight=1

Name=Root
Name[az]=Kök
Name[ca]=Arrel
Name[en_GB]=Root
Name[es]=Raíz
Name[et]=Juur
Name[eu]=Root
Name[fr]=Administrateur
Name[hu]=Root
Name[ia]=Radice
Name[it]=Radice
Name[nl]=Hoofdmap
Name[nn]=Rot
Name[pt]=Raiz
Name[pt_BR]=Raiz
Name[ro]=Rădăcină
Name[sl]=Root
Name[sv]=Rot
Name[uk]=Корінь
Name[vi]=Gốc
Name[x-test]=xxRootxx
