[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=desktop-appearance
X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Workspace Appearance
Name[uk]=Вигляд робочого простору
Name[x-test]=xxWorkspace Appearancexx
Comment=Customize the appearance of your desktop
Comment[uk]=Налаштування зовнішнього вигляду вашої стільниці
Comment[x-test]=xxCustomize the appearance of your desktopxx
