[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=locale
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-locale

Name=Locale
Name[cs]=Lokalizace
Name[en_GB]=Locale
Name[ia]=Local
Name[id]=Locale
Name[is]=Staðfærsla
Name[ja]=ロケール
Name[kk]=Жергілікті стандарттар
Name[km]=មូលដ្ឋាន
Name[lt]=Lokalė
Name[nb]=Lokale
Name[nds]=Spraakinstellen
Name[nl]=Taalregio
Name[pt]=Localização
Name[pt_BR]=Localização
Name[sv]=Plats
Name[th]=ภาษาระบบ
Name[uk]=Локаль
Name[x-test]=xxLocalexx
Name[zh_TW]=地域
