[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=connectivity
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=50
Icon=preferences-system-network-connection

Name=Connectivity
Name[ca]=Connectivitat
Name[es]=Conectividad
Name[fi]=Verkkoyhteydet
Name[id]=Konektivitas
Name[nds]=Verbinnen
Name[nl]=Connectiviteit
Name[pl]=Łączność
Name[pt]=Conectividade
Name[pt_BR]=Conectividade
Name[sk]=Pripojiteľnosť
Name[sv]=Anslutningar
Name[uk]=З'єднання
Name[x-test]=xxConnectivityxx
