[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=bluetooth
X-KDE-System-Settings-Parent-Category=network-and-connectivity
Icon=preferences-system-bluetooth

Name=Bluetooth
Name[fa]=بلوتوث
Name[sv]=Blåtand
Name[zh_TW]=藍芽
