[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=hardware
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=50
Icon=preferences-desktop-peripherals

Name=Connected Devices
