[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=personal-information
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-user

Name=Personal Information
Name[nl]=Persoonlijke informatie
Name[uk]=Особисті відомості
Name[x-test]=xxPersonal Informationxx

