[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=regionalsettings
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-Weight=50
Icon=preferences-desktop-locale

Name=Regional Settings
Name[ca]=Arranjament regional
Name[cs]=Místní nastavení
Name[de]=Regionaleinstellungen
Name[en_GB]=Regional Settings
Name[es]=Preferencias regionales
Name[fi]=Alueasetukset
Name[id]=Pengaturan Regional
Name[ko]=지역 설정
Name[nds]=Regiooninstellen
Name[nl]=Regionale instellingen
Name[pl]=Ustawienia regionalne
Name[pt]=Configuração Regional
Name[pt_BR]=Configurações Regionais
Name[ru]=Локализация
Name[sk]=Miestne nastavenia
Name[sl]=Območne nastavitve
Name[sr]=Регионалне поставке
Name[sr@ijekavian]=Регионалне поставке
Name[sr@ijekavianlatin]=Regionalne postavke
Name[sr@latin]=Regionalne postavke
Name[sv]=Landsinställningar
Name[uk]=Локалізація
Name[x-test]=xxRegional Settingsxx
