[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=windowbehavior
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=40
Icon=preferences-system-windows

Name=Window Behavior
