[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=display
X-KDE-System-Settings-Parent-Category=computer-administration
Icon=preferences-desktop-display

Name=Display
Name[af]=Skerm
Name[ar]=عرض
Name[az]=Displey
Name[be]=Манітор
Name[bg]=Монитор
Name[bn]=ডিসপ্লে
Name[br]=Diskwel
Name[bs]=Ekran
Name[ca]=Pantalla
Name[cs]=Obrazovka
Name[csb]=Ekran
Name[cy]= Arddangos
Name[da]=Skærm
Name[de]=Anzeige
Name[el]=Οθόνη
Name[eo]=Vidigilo
Name[es]=Pantalla
Name[et]=Monitor
Name[eu]=Pantaila
Name[fa]=نمایش
Name[fi]=Näyttö
Name[fr]=Affichage
Name[fy]=Byldskerm
Name[gl]=Pantalla
Name[he]=תצוגה
Name[hi]=रूप-रंग
Name[hr]=Zaslon
Name[hu]=Képernyő
Name[is]=Skjár
Name[ja]=ディスプレイ
Name[kk]=Дисплей
Name[km]=បង្ហាញ
Name[lt]=Ekranas
Name[lv]=Ekrāns
Name[mk]=Приказ
Name[mn]=Дэлгэц
Name[ms]=Paparan
Name[mt]=Skrin
Name[nb]=Skjerm
Name[nds]=Dorstellen
Name[ne]=प्रदर्शन गर्नुहोस्
Name[nl]=Beeldscherm
Name[nn]=Skjerm
Name[pa]=ਝਲਕ
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Tela
Name[ro]=Monitor
Name[ru]=Дисплей
Name[rw]=Kwerekana
Name[se]=Šearbma
Name[sk]=Displej
Name[sl]=Zaslon
Name[sr]=Екран
Name[sr@Latn]=Ekran
Name[sv]=Bildskärm
Name[ta]=காட்சி
Name[tg]=Намоиш
Name[th]=การแสดงผล
Name[tr]=Görüntü
Name[tt]=Kürsätü
Name[uk]=Дисплей
Name[uz]=Дисплей
Name[vi]=Hiển thị
Name[wa]=Håynaedje
Name[zh_CN]=显示
Name[zh_TW]=顯示
Comment=Display Settings
Comment[af]=Skerm Instellings
Comment[ar]=إعدادت العرض
Comment[az]=Displey Qurğuları
Comment[be]=Настаўленні манітора
Comment[bg]=Настройване на екрана
Comment[bn]=ডিসপ্লে সেটিংস
Comment[br]=Kefluniañ an diskwel
Comment[bs]=Postavke ekrana
Comment[ca]=Arranjament de la pantalla
Comment[cs]=Nastavení obrazovky
Comment[csb]=Ùstôw ekranu
Comment[cy]=Gosodiadau Arddangos
Comment[da]=Opsætning af skærm
Comment[de]=Anzeige-Einstellungen
Comment[el]=Ρυθμίσεις οθόνης
Comment[eo]=Vidigila Agordo
Comment[es]=Preferencias de la pantalla
Comment[et]=Monitoride seadistused
Comment[eu]=Pantailaren konfigurazioa
Comment[fa]=نمایش تنظیمات
Comment[fi]=Näytön asetukset
Comment[fr]=Paramètres d'affichage
Comment[fy]=Byldskerm ynstellings
Comment[ga]=Socruithe an Scáileáin
Comment[gl]=Opcións da Pantalla
Comment[he]=הגדרות תצוגה
Comment[hi]=रूप-रंग विन्यास
Comment[hr]=Postavke zaslona
Comment[hu]=Képernyőbeállítások
Comment[is]=Stillingar skjás
Comment[it]=Impostazioni del display
Comment[ja]=ディスプレイの設定
Comment[kk]=Дисплей баптаулары
Comment[km]=កំណត់​ការ​បង្ហាញ
Comment[lt]=Ekrano parametrai
Comment[lv]=Ekrāna parametri
Comment[mk]=Поставувања на приказот
Comment[mn]=Дэлгэц тохируулга
Comment[ms]=Seting Paparan
Comment[mt]=Konfigurazzjoni tal-iskrin
Comment[nb]=Skjerminnstillinger
Comment[nds]=Dorstellen inrichten
Comment[ne]=सेटिङ प्रदर्शन गर्नुहोस्
Comment[nl]=Beeldscherminstellingen
Comment[nn]=Skjerminnstillingar
Comment[pa]=ਝਲਕ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia ekranu
Comment[pt]=Configuração do ecrã
Comment[pt_BR]=Configurações da Tela
Comment[ro]=Configurează monitorul
Comment[ru]=Настройка дисплея
Comment[rw]=Kwerekana Amagenamiterere
Comment[se]=Šearbmaheivehusat
Comment[sk]=Nastavenie displeja
Comment[sl]=Nastavitve zaslona
Comment[sr]=Подешавања екрана
Comment[sr@Latn]=Podešavanja ekrana
Comment[sv]=Anpassa bildskärm
Comment[ta]=அமைப்புகளை காட்டு
Comment[tg]=Танзимоти намоиш
Comment[th]=ตั้งค่าการแสดงผล
Comment[tr]=Görüntü Ayarları
Comment[tt]=Küräk Caylaw
Comment[uk]=Налаштування дисплея
Comment[uz]=Дисплейнинг мосламалари
Comment[vi]=Thiết lập Hiển thị
Comment[wa]=Apontiaedjes do Håynaedje
Comment[zh_CN]=显示设置
Comment[zh_TW]=顯示設定

