[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=audio-and-video
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=200
Icon=applications-multimedia

Name=Audio and Video
Name[bn]=অডিও এবং ভিডিও
Name[ca]=Àudio i vídeo
Name[cs]=Audio a video
Name[da]=Lyd og video
Name[de]=Audio und Video
Name[en_GB]=Audio and Video
Name[es]=Audio y vídeo
Name[et]=Heli ja video
Name[ia]= Audio e Video
Name[id]=Audio dan Video
Name[is]=Hljóð og mynd
Name[it]=Audio e video
Name[ja]=オーディオとビデオ
Name[kk]=Аудио мен Видео
Name[km]=អូឌីយ៉ូ និង​វីដេអូ
Name[lt]=Garsas ir vaizdas
Name[nb]=Lyd og video
Name[nds]=Kläng un Bild
Name[nl]=Audio en video
Name[pa]=ਆਡੀਓ ਅਤੇ ਵਿਡੀਓ
Name[pt]=Áudio e Vídeo
Name[pt_BR]=Áudio e vídeo
Name[sv]=Ljud och video
Name[th]=วีดิโอและเสียง
Name[uk]=Звук та відео
Name[x-test]=xxAudio and Videoxx
Name[zh_CN]=音频和视频
Name[zh_TW]=音效與影像
