[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=regional-and-language
X-KDE-System-Settings-Parent-Category=personal
Icon=locale

Name=Regional & Language
Name[de]=Land/Region & Sprache
Name[el]=Τοπικές ρυθμίσεις & γλώσσα
Name[es]=Región e idioma
Name[fa]=منطقه‌ای و زبان
Name[ga]=Réigiún agus Teanga
Name[ja]=国と言語
Name[nds]=Land, Regioon un Spraak
Name[nl]=Land/regio en taal
Name[pt]=Região e Língua
Name[pt_BR]=Região e Língua
Name[sv]=Region och språk
Name[uk]=Країна/регіон і мова
Name[zh_TW]=地區與語言
