[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=removable-storage
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=30
Icon=preferences-system-disks

Name=Disks & Cameras
Name[bg]=Дискове и камери
Name[ca]=Discs i càmeres
Name[ca@valencia]=Discs i càmeres
Name[es]=Discos y cámaras
Name[ia]=Discos & Cameras
Name[nl]=Schijven & camera's
Name[sa]=डिस्क एवं चित्रग्राही
Name[sl]=Diski in kamere
Name[tr]=Diskler ve Kameralar
Name[uk]=Диски і камери
Name[x-test]=xxDisks & Camerasxx
