[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=permissions
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-other

Name=Permissions
Name[cs]=Oprávnění
Name[ia]=Permissiones
Name[kk]=Рұқсаттар
Name[pt]=Permissões
Name[pt_BR]=Permissões
Name[sv]=Rättigheter
Name[uk]=Права доступу
Name[x-test]=xxPermissionsxx
Name[zh_TW]=權限
