[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=look-and-feel
X-KDE-System-Settings-Parent-Category=general
Icon=preferences-desktop-theme

Name=Look & Feel
Name[de]=Erscheinungsbild & Verhalten
Name[el]=Όψη & αίσθηση
Name[es]=Aspecto y comportamiento
Name[fa]=ظاهر و احساس
Name[ja]=外観
Name[nds]=Utsehn un Bedregen
Name[nl]=Uiterlijk en gedrag
Name[pa]=ਦਿੱਖ ਅਤੇ ਮਹਿਸੂਸ
Name[pt]=Aparência e Comportamento
Name[pt_BR]=Aparência e Comportamento
Name[sv]=Utseende och känsla
Name[uk]=Вигляд і поведінка
Name[zh_TW]=外觀與感覺
