[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=notifications
X-KDE-System-Settings-Parent-Category=look-and-feel
Icon=preferences-desktop-notification

Name=Notifications
Name[ar]=تنبيهات
Name[be]=Абвяшчэнні
Name[bg]=Уведомяване
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[es]=Notificaciones
Name[fa]=اخطارها
Name[ga]=Fógairt
Name[he]=הודעות מערכת
Name[it]=Avvisi
Name[ja]=通知
Name[kk]=Құлақтандыру
Name[km]=សេចក្តីជូនដំណឹង​
Name[ko]=알림
Name[nb]=Varslinger
Name[nds]=Bescheden
Name[ne]=सूचना
Name[nl]=Meldingen
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[sl]=Obvestila
Name[sv]=Underrättelser
Name[uk]=Сповіщення
Name[wa]=Notifiaedjes
Name[zh_CN]=通知
Name[zh_TW]=通知
