[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=advanced-user-settings
X-KDE-System-Settings-Parent-Category=advanced
Icon=userconfig

Name=Advanced User Settings
Name[zh_TW]=進階使用者設定
