[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=computer-administration
X-KDE-System-Settings-Parent-Category=general
Icon=preferences-system

Name=Computer Administration
Name[ar]=إدارة الحاسوب
Name[be]=Адміністраванне камп'ютэру
Name[bg]=Администрация
Name[de]=Systemverwaltung
Name[el]=Διαχείριση συστήματος
Name[es]=Administración del equipo
Name[fa]=سرپرستی رایانه
Name[he]=ניהול המחשב
Name[ja]=コンピュータの管理
Name[kk]=Компьютерді қадағалау
Name[km]=កា​រគ្រប់គ្រង​កុំព្យូទ័រ​
Name[ko]=컴퓨터 관리
Name[nb]=Administrasjon av maskinen
Name[nds]=Systeempleeg
Name[ne]=कम्प्युटर प्रशासन
Name[nl]=Computerbeheer
Name[pa]=ਕੰਪਿਊਟਰ ਪਰਸ਼ਾਸ਼ਨ
Name[pt]=Administração do Computador
Name[pt_BR]=Administração do Computador
Name[sv]=Datoradministration
Name[uk]=Адміністрування комп'ютера
Name[zh_CN]=计算机管理
Name[zh_TW]=電腦管理
