[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=applications
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-Weight=70
Icon=preferences-desktop-default-applications

Name=Applications
Name[ca]=Aplicacions
Name[cs]=Aplikace
Name[da]=Programmer
Name[de]=Anwendungen
Name[el]=Εφαρμογές
Name[en_GB]=Applications
Name[es]=Aplicaciones
Name[fi]=Sovellukset
Name[hu]=Alkalmazások
Name[ia]=Applicationes
Name[id]=Aplikasi
Name[ko]=응용 프로그램
Name[nb]=Programmer
Name[nds]=Programmen
Name[nl]=Toepassingen
Name[nn]=Program
Name[pl]=Programy
Name[pt]=Aplicações
Name[pt_BR]=Aplicativos
Name[ru]=Приложения
Name[se]=Prográmmat
Name[sk]=Aplikácie
Name[sl]=Programi
Name[sr]=Програми
Name[sr@ijekavian]=Програми
Name[sr@ijekavianlatin]=Programi
Name[sr@latin]=Programi
Name[sv]=Program
Name[uk]=Програми
Name[x-test]=xxApplicationsxx
Name[zh_CN]=应用程序
Name[zh_TW]=應用程式
