[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=applications-defaults
X-KDE-System-Settings-Parent-Category=applications
X-KDE-Weight=10
Icon=preferences-desktop-default-applications

Name=Default Applications
Name[bg]=Стандартни приложения
Name[ca]=Aplicacions predeterminades
Name[ca@valencia]=Aplicacions predeterminades
Name[cs]=Výchozí aplikace
Name[eo]=Defaŭltaj Aplikaĵoj
Name[es]=Aplicaciones predeterminadas
Name[eu]=Aplikazio lehenetsiak
Name[fr]=Applications par défaut
Name[gl]=Aplicacións predeterminadas
Name[ia]=Applicationes predefinite
Name[it]=Applicazioni predefinite
Name[ka]=ნაგულისხმევი აპლიკაციები
Name[ko]=기본 앱
Name[nl]=Standaard toepassingen
Name[pl]=Domyślne programy
Name[sa]=पूर्वनिर्धारित अनुप्रयोगाः
Name[sl]=Privzete aplikacije
Name[tr]=Öntanımlı Uygulamalar
Name[uk]=Типові програми
Name[x-test]=xxDefault Applicationsxx
Name[zh_CN]=默认应用程序
