[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=lost-and-found
X-KDE-System-Settings-Parent-Category=general
X-KDE-Weight=250
Icon=applications-system

Name=Lost and Found
Name[x-test]=xxLost and Foundxx
