[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=lost-and-found
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=250
Icon=applications-system

Name=Lost and Found
Name[cs]=Ztráty a nálezy
Name[de]=Nicht zuzuordnen
Name[en_GB]=Lost and Found
Name[es]=Objetos perdidos
Name[ia]=Trovate & Perdite
Name[id]=Hilang dan Ditemukan
Name[is]=Tapað og fundið
Name[ja]=Lost and Found
Name[kk]=Жоғалған мен табылғандар
Name[km]=បាត់ ហើយ​រកឃើញ
Name[lt]=Pamesta ir rasta
Name[nb]=Tapt og funnet
Name[nds]=Passt narms sünst
Name[nl]=Verloren en gevonden
Name[pt]=Perdidos e Achados
Name[pt_BR]=Achados e perdidos
Name[sk]=Straty a nálezy
Name[sv]=Hittegods
Name[uk]=Втрачено і знайдено
Name[x-test]=xxLost and Foundxx
Name[zh_CN]=未知类别
Name[zh_TW]=Lost & Found
