[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=color
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=60
Icon=preferences-color

Name=Color
Name[ca]=Color
Name[es]=Color
Name[fi]=Väri
Name[id]=Warna
Name[nds]=Klöör
Name[nl]=Kleur
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[sk]=Farba
Name[sl]=Barva
Name[sr]=Боја
Name[sr@ijekavian]=Боја
Name[sr@ijekavianlatin]=Boja
Name[sr@latin]=Boja
Name[sv]=Färg
Name[uk]=Колір
Name[x-test]=xxColorxx
