[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=account-details
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-user

Name=Account Details
Name[en_GB]=Account Details
Name[ia]=Detalios de Conto
Name[kk]=Тіркелгі егжей-тегжейі
Name[km]=សេចក្ដី​លម្អិត​គណនី
Name[lt]=Paskyros detalės
Name[nb]=Detaljer om kontoen
Name[nl]=Accountdetails
Name[pt]=Detalhes da Conta
Name[pt_BR]=Detalhes da conta
Name[sv]=Kontoinformation
Name[uk]=Параметри облікового запису
Name[x-test]=xxAccount Detailsxx
Name[zh_TW]=帳號詳細資料

