[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=shortcuts-and-gestures
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-keyboard

Name=Shortcuts and Gestures
Name[ca]=Dreceres i gestos
Name[ca@valencia]=Dreceres i gestos
Name[cs]=Zkratky a gesta
Name[da]=Genveje og gestusser
Name[de]=Kurzbefehle und Gestensteuerung
Name[en_GB]=Shortcuts and Gestures
Name[es]=Accesos rápidos y gestos
Name[et]=Kiirklahvid ja žestid
Name[ia]=Vias Breve e Gestures
Name[id]=Jalan Pintas dan Gerakan
Name[is]=Flýtilyklar og bendingar
Name[it]=Scorciatoie e gesti
Name[ja]=ショートカットとジェスチャー
Name[kk]=Тіркесімдер мен ым қимылдары
Name[km]=ផ្លូវកាត់ និងកាយវិការ
Name[lt]=Spartieji klavišai ir gestai
Name[nb]=Snarveier og musebevegelser
Name[nds]=Tastkombinatschonen un Muustekens
Name[nl]=Sneltoetsen en gebaren
Name[pa]=ਸ਼ਾਰਟਕੱਟ ਤੇ ਜੈਸੱਚਰ
Name[pt]=Atalhos e Gestos
Name[pt_BR]=Atalhos e gestos
Name[sv]=Genvägar och gester
Name[th]=ปุ่มพิมพ์ลัดและการขยับเมาส์แบบต่าง ๆ
Name[uk]=Скорочення і жести
Name[x-test]=xxShortcuts and Gesturesxx
Name[zh_CN]=快捷方式和手势
Name[zh_TW]=捷徑與手勢

