[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=font
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=20
Icon=preferences-desktop-font

Name=Text & Fonts
Name[bg]=Текст и шрифтове
Name[ca]=Text i lletres
Name[ca@valencia]=Text i lletres
Name[es]=Texto y tipos de letra
Name[ia]=Texto e Fonts
Name[nl]=Tekst & lettertypen
Name[sa]=पाठ्य एवं वर्णचित्राः
Name[sl]=Besedilo in pisave
Name[tr]=Metin ve Yazıtipi
Name[uk]=Текст і шрифти
Name[x-test]=xxText & Fontsxx
