[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=window-behaviour
X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior
Icon=preferences-system-windows

Name=Window Behavior
Name[nl]=Venstergedrag
Name[uk]=Поведінка вікон
Name[x-test]=xxWindow Behaviorxx

