[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=search
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=80
Icon=baloo

Name=Search
Name[ca]=Cerca
Name[es]=Buscar
Name[fi]=Haku
Name[nds]=Söken
Name[nl]=Zoeken
Name[pt]=Pesquisa
Name[pt_BR]=Procurar
Name[sk]=Hľadať
Name[uk]=Пошук
Name[x-test]=xxSearchxx
