[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=session
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-Weight=70
Icon=preferences-system-login

Name=Session
Name[ar]=الجلسة
Name[ast]=Sesión
Name[az]=Sessiya
Name[be]=Сеанс
Name[bg]=Сесия
Name[ca]=Sessió
Name[ca@valencia]=Sessió
Name[cs]=Sezení
Name[da]=Session
Name[de]=Sitzung
Name[el]=Συνεδρία
Name[en_GB]=Session
Name[eo]=Seanco
Name[es]=Sesión
Name[eu]=Saioa
Name[fi]=Istunto
Name[fr]=Session
Name[gl]=Sesión
Name[he]=הפעלה
Name[hu]=Munkamenet
Name[ia]=Session
Name[id]=Sesi
Name[ie]=Session
Name[is]=Seta
Name[it]=Sessione
Name[ja]=セッション
Name[ka]=სესია
Name[ko]=세션
Name[lt]=Seansas
Name[lv]=Sesija
Name[nl]=Sessie
Name[nn]=Økt
Name[pa]=ਸ਼ੈਸ਼ਨ
Name[pl]=Posiedzenie
Name[pt_BR]=Sessão
Name[ro]=Sesiune
Name[ru]=Сеанс
Name[sa]=सत्रम्
Name[sk]=Sedenie
Name[sl]=Seja
Name[sv]=Session
Name[ta]=அமர்வு
Name[tr]=Oturum
Name[uk]=Сеанс
Name[x-test]=xxSessionxx
Name[zh_CN]=会话
Name[zh_TW]=工作階段
