[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=bluetooth
X-KDE-System-Settings-Parent-Category=network-and-connectivity
Icon=preferences-system-bluetooth

Name=Bluetooth
Name[ar]=بلوتوث
Name[fa]=بلوتوث
Name[gu]=બ્લ્યુટુથ
Name[hi]=ब्लूटूथ
Name[is]=Blátönn
Name[km]=ប៊្លូសធូស
Name[ko]=블루투스
Name[ne]=ब्लुटुथ
Name[pa]=ਬਲਿਊਟੁੱਥ
Name[sr]=Блутут
Name[sv]=Blåtand
Name[th]=บลูทูธ
Name[x-test]=xxBluetoothxx
Name[zh_CN]=蓝牙
Name[zh_TW]=藍芽
