[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=input-devices
X-KDE-System-Settings-Parent-Category=hardware
Icon=preferences-desktop-peripherals

Name=Input Devices
Name[bn]=ইনপুট ডিভাইস
Name[cs]=Vstupní zařízení
Name[da]=Input-enheder
Name[de]=Eingabegeräte
Name[en_GB]=Input Devices
Name[es]=Dispositivos de entrada
Name[et]=Sisendseadmed
Name[ia]=Dispositivos de Ingresso
Name[id]=Divais Masukan
Name[is]=Inntakstæki
Name[ja]=入力デバイス
Name[kk]=Енгізу құрылғылар
Name[km]=ឧបករណ៍​បញ្ចូល
Name[lt]=Įvedimo įrenginiai
Name[nb]=Inndataenheter
Name[nds]=Ingaav-Reedschappen
Name[nl]=Invoerapparaten
Name[pa]=ਇੰਪੁੱਟ ਜੰਤਰ
Name[pt]=Dispositivos de Entrada
Name[pt_BR]=Dispositivos de entrada
Name[sv]=Inmatningsenheter
Name[th]=อุปกรณ์ป้อนข้อมูล
Name[uk]=Пристрої введення
Name[x-test]=xxInput Devicesxx
Name[zh_CN]=输入设备
Name[zh_TW]=輸入裝置

