[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=bluetooth
X-KDE-System-Settings-Parent-Category=network-and-connectivity
Icon=preferences-system-bluetooth

Name=Bluetooth
Name[fa]=بلوتوث
Name[km]=ប៊្លូសធូស
Name[ne]=ब्लुटुथ
Name[pa]=ਬਲਿਊਟੁੱਥ
Name[sv]=Blåtand
Name[x-test]=xxBluetoothxx
Name[zh_CN]=蓝牙
Name[zh_TW]=藍芽
