[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=lost-and-found
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=250
Icon=applications-system

Name=Lost and Found
Name[bn]=হারানো প্রাপ্তি
Name[ca]=Perdut i trobat
Name[ca@valencia]=Perdut i trobat
Name[cs]=Ztráty a nálezy
Name[da]=Hittegods
Name[de]=Nicht zuzuordnen
Name[en_GB]=Lost and Found
Name[es]=Objetos perdidos
Name[et]=Kaotatud ja leitud
Name[fr]=Objets trouvés
Name[hr]=Izgubljeno i nađeno
Name[ia]=Trovate & Perdite
Name[id]=Hilang dan Ditemukan
Name[is]=Tapað og fundið
Name[it]=Oggetti smarriti
Name[ja]=Lost and Found
Name[kk]=Жоғалған мен табылғандар
Name[km]=បាត់ ហើយ​រកឃើញ
Name[kn]=ಲುಪ್ತ ಮತ್ತು ಲಬ್ಧ
Name[ko]=기타 프로그램
Name[lt]=Pamesta ir rasta
Name[nb]=Tapt og funnet
Name[nds]=Passt narms sünst
Name[nl]=Verloren en gevonden
Name[pa]=ਗੁਆਚੇ ਅਤੇ ਲੱਭੇ
Name[pt]=Perdidos e Achados
Name[pt_BR]=Achados e perdidos
Name[ru]=Прочее
Name[si]=නැතිවී සොයා ගැනුනි
Name[sk]=Straty a nálezy
Name[sr]=Изгубљено-нађено
Name[sr@ijekavian]=Изгубљено-нађено
Name[sr@ijekavianlatin]=Izgubljeno-nađeno
Name[sr@latin]=Izgubljeno-nađeno
Name[sv]=Hittegods
Name[uk]=Втрачено і знайдено
Name[x-test]=xxLost and Foundxx
Name[zh_CN]=未知类别
Name[zh_TW]=Lost & Found
