[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-administration
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=200
Icon=preferences-system

Name=System Administration
Name[be]=Сістэмнае адміністраванне
Name[br]=Melestradur ar Reizhiad
Name[cs]=Administrace systému
Name[cy]=Gweinyddiaith Cysawd
Name[de]=Systemverwaltung
Name[en_GB]=System Administration
Name[es]=Administración del sistema
Name[fa]=سرپرستی سیستم
Name[ga]=Riarachán Córais
Name[ia]=Administration de Systema
Name[id]=Administrasi Sistem
Name[is]=Kerfisstjórnun
Name[ja]=システム管理
Name[ka]=სისტემის ადმინისტრირება
Name[kk]=Жүйе әкімшілігі
Name[km]=ការ​គ្រប់គ្រង​ប្រព័ន្ធ
Name[kn]=ಗಣಕವ್ಯವಸ್ಥೆಯ ನಿರ್ವಹಣೆ
Name[lt]=Sistemos administravimas
Name[nb]=Systemadministrasjon
Name[nds]=Systeempleeg
Name[ne]=प्रणाली प्रशासन
Name[nl]=Systeemadministratie
Name[pa]=ਸਿਸਟਮ ਪਰਸ਼ਾਸ਼ਨ
Name[pt]=Administração do Sistema
Name[pt_BR]=Administração do sistema
Name[sl]=Sistemsko upravljanje
Name[sv]=Systemadministration
Name[ta]=கணினி-நிர்வாகம்
Name[th]=การดูแลบริหารระบบ
Name[tr]=Sistem Yönetimi
Name[uk]=Керування системою
Name[uz]=Tizimni boshqarish
Name[uz@cyrillic]=Тизимни бошқариш
Name[vi]=Quản lý hệ thống
Name[xh]=Umphathi Wendlela yokusebenza
Name[x-test]=xxSystem Administrationxx
Name[zh_TW]=系統管理
