[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=applications-permissions
X-KDE-System-Settings-Parent-Category=security-privacy
X-KDE-Weight=20
Icon=preferences-security

Name=Application Permissions
Name[bg]=Разрешения за приложения
Name[ca]=Permisos de les aplicacions
Name[ca@valencia]=Permisos de les aplicacions
Name[eo]=Aplikaĵaj Rajtigoj
Name[es]=Permisos de las aplicaciones
Name[eu]=Aplikazioen baimenak
Name[fr]=Permissions des applications
Name[gl]=Permisos de aplicacións
Name[ia]=Permissiones de Application
Name[it]=Permessi delle applicazioni
Name[ka]=აპლიკაციის წვდომები
Name[ko]=앱 권한
Name[nl]=Rechten van toepassingen
Name[pl]=Uprawnienia programów
Name[sa]=अनुप्रयोगस्य अनुमतिः
Name[sl]=Dovoljenja aplikacij
Name[tr]=Uygulama İzinleri
Name[uk]=Права доступу програм
Name[x-test]=xxApplication Permissionsxx
