[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=network-and-connectivity
X-KDE-System-Settings-Parent-Category=general
Icon=network-wired

Name=Network & Connectivity
Name[es]=Red y conectividad
Name[ga]=Líonra & Nascacht
Name[ja]=ネットワークと接続
Name[nds]=Nettwark un Verbinnen
Name[pt]=Rede e Conectividade
Name[pt_BR]=Rede e Conectividade
Name[sv]=Nätverk och anslutningar
Name[zh_TW]=網路連線
