[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=input-devices
X-KDE-System-Settings-Parent-Category=hardware
Icon=preferences-desktop-peripherals

Name=Input Devices

