[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=permissions
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-other

Name=Permissions
Name[cs]=Oprávnění
Name[de]=Berechtigungen
Name[en_GB]=Permissions
Name[es]=Permisos
Name[ia]=Permissiones
Name[is]=Heimildir
Name[ja]=許可
Name[kk]=Рұқсаттар
Name[km]=សិទ្ធិ
Name[lt]=Leidimai
Name[nb]=Rettigheter
Name[nds]=Verlöven
Name[nl]=Toegangsrechten
Name[pt]=Permissões
Name[pt_BR]=Permissões
Name[sv]=Rättigheter
Name[th]=สิทธิ์ที่อนุญาต
Name[uk]=Права доступу
Name[x-test]=xxPermissionsxx
Name[zh_CN]=权限
Name[zh_TW]=權限
