[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=security
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-other

Name=Security
Name[cs]=Bezpečnost
Name[de]=Sicherheit
Name[en_GB]=Security
Name[es]=Seguridad
Name[ia]=Securitate
Name[is]=Öryggi
Name[ja]=セキュリティ
Name[kk]=Қауіпсіздік
Name[km]=សុវត្ថិភាព
Name[lt]=Saugumas
Name[nb]=Sikkerhet
Name[nl]=Beveiliging
Name[pt]=Segurança
Name[pt_BR]=Segurança
Name[sv]=Säkerhet
Name[th]=ความปลอดภัย
Name[uk]=Безпека
Name[x-test]=xxSecurityxx
Name[zh_TW]=安全性
