[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-Weight=100
X-KDE-System-Settings-Category=general
X-KDE-System-Settings-Parent-Category=

# ctxt: Settings for common user needs (tab in System Settings).
Name=General
Name[bg]=Основни
Name[bn_IN]=সাধারণ
Name[cs]=Obecné
Name[csb]=Spòdlowé
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικά
Name[et]=Üldine
Name[fi]=Yleisasetukset
Name[fr]=Général
Name[fy]=Algemien
Name[gl]=Xeral
Name[gu]=સામાન્ય
Name[hu]=Általános
Name[is]=Almennt
Name[ja]=一般
Name[km]=ទូទៅ
Name[kn]=ಸಾಮಾನ್ಯ
Name[ko]=일반
Name[lv]=Pamata
Name[mk]=Општо
Name[ml]=പൊതുവായ
Name[mr]=सर्वसाधारण
Name[nb]=Generelt
Name[nds]=Allmeen
Name[nl]=Algemeen
Name[nn]=Generelt
Name[pa]=ਆਮ
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ru]=Основные
Name[sl]=Splošno
Name[sr]=Опште
Name[sr@latin]=Opšte
Name[sv]=Allmänt
Name[tg]=Умумӣ
Name[tr]=Genel
Name[uk]=Загальне
Name[wa]=Djenerå
Name[x-test]=xxGeneralxx
Name[zh_CN]=常规
Name[zh_TW]=一般
