[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=startup-and-shutdown
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-other

Name=Startup and Shutdown
Name[de]=Starten und Beenden
Name[en_GB]=Startup and Shutdown
Name[es]=Arranque y apagado
Name[ia]=Initia e Serra
Name[id]=Jalankan dan Matikan
Name[is]=Ræsing og stöðvun
Name[ja]=起動と終了
Name[kk]=Бастау мен сөндіру
Name[km]=ចាប់ផ្ដើម និង​បិទ
Name[lt]=Įjungimas ir išjungimas
Name[nb]=Oppstart og avslutning
Name[nds]=An- un Utmaken
Name[nl]=Opstarten en afsluiten
Name[pt]=Arranque e Paragem
Name[pt_BR]=Inicialização e desligamento
Name[sv]=Start och avslutning
Name[th]=การเริ่มการทำงานและการปิดเครื่อง
Name[uk]=Запуск і вихід
Name[x-test]=xxStartup and Shutdownxx
Name[zh_TW]=啟動與關閉
