[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=color
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=60
Icon=preferences-desktop-color

Name=Color
Name[ca]=Color
Name[cs]=Barva
Name[da]=Farve
Name[de]=Farbe
Name[el]=Χρώμα
Name[en_GB]=Colour
Name[es]=Color
Name[fi]=Väri
Name[hu]=Szín
Name[ia]=Color
Name[id]=Warna
Name[it]=Colore
Name[ko]=색
Name[lt]=Spalva
Name[nb]=Farge
Name[nds]=Klöör
Name[nl]=Kleur
Name[nn]=Farge
Name[pa]=ਰੰਗ
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[ru]=Цвета
Name[sk]=Farba
Name[sl]=Barva
Name[sr]=Боја
Name[sr@ijekavian]=Боја
Name[sr@ijekavianlatin]=Boja
Name[sr@latin]=Boja
Name[sv]=Färg
Name[tr]=Renk
Name[uk]=Колір
Name[x-test]=xxColorxx
Name[zh_CN]=颜色
Name[zh_TW]=顏色
