[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=computer-administration
X-KDE-System-Settings-Parent-Category=general
Icon=systemtray

Name=Computer Administration
Name[es]=Administración del equipo
Name[ja]=コンピュータの管理
Name[sv]=Datoradministration
Name[zh_TW]=電腦管理
