[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=icons
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=70
Icon=preferences-desktop-icons

Name=Icons
