[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=workspace-appearance-and-behavior
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Workspace Appearance and Behavior
Name[en_GB]=Workspace Appearance and Behaviour
Name[es]=Apariencia y comportamiento del espacio de trabajo
Name[ia]=Apparentia e Comportamento de le Spatio de Labor (Workspace)
Name[is]=Útlit og hegðun vinnusvæðis
Name[kk]=Жұмыс орның көрініс пен тәртібі
Name[km]=រូបរាង និង​ឥរិយាបថ​របស់​តំបន់​ធ្វើការ
Name[nb]=Utseende og oppførsel for arbeidsflaten
Name[nl]=Uiterlijk en gedrag van werkruimte
Name[pt]=Aparência e Comportamento da Área de Trabalho
Name[pt_BR]=Comportamento e aparência do espaço de trabalho
Name[sv]=Arbetsytans utseende och beteende
Name[th]=รูปลักษณ์และพฤติกรรมของพื้นที่ทำงาน
Name[uk]=Вигляд і поведінка робочого простору
Name[x-test]=xxWorkspace Appearance and Behaviorxx
Name[zh_TW]=工作空間外觀與行為
