[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=sharing
X-KDE-System-Settings-Parent-Category=network-and-connectivity

Icon=folder_html
Name=Sharing
Name[es]=Compartición
Name[ga]=Roinnt
Name[ja]=共有
Name[pt]=Partilha
Name[pt_BR]=Partilha
Name[sv]=Delning
Name[zh_TW]=分享
