[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=notification
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-Weight=60
Icon=preferences-desktop-notification

Name=Notification
Name[bs]=Obavještenje
Name[ca]=Notificació
Name[cs]=Upozornění
Name[da]=Bekendtgørelse
Name[de]=Benachrichtigung
Name[el]=Ειδοποίηση
Name[en_GB]=Notification
Name[es]=Notificación
Name[fi]=Ilmoittaminen
Name[hu]=Értesítés
Name[ia]=Notification
Name[id]=Notifikasi
Name[it]=Notifica
Name[ko]=알림
Name[lt]=Pranešimai
Name[nb]=Varsling
Name[nds]=Bescheed
Name[nl]=Melding
Name[nn]=Varsling
Name[pl]=Powiadomienie
Name[pt]=Notificação
Name[pt_BR]=Notificações
Name[ru]=Уведомления
Name[se]=Dieđiheapmi
Name[sk]=Pripomienka
Name[sl]=Obvestilo
Name[sr]=Обавештење
Name[sr@ijekavian]=Обавештење
Name[sr@ijekavianlatin]=Obaveštenje
Name[sr@latin]=Obaveštenje
Name[sv]=Underrättelser
Name[uk]=Сповіщення
Name[x-test]=xxNotificationxx
Name[zh_CN]=通知
