[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=applications-permissions
X-KDE-System-Settings-Parent-Category=security-privacy
X-KDE-Weight=20
Icon=preferences-security

Name=Application Permissions
Name[ar]=صلاحيات التّطبيقات
Name[ast]=Permisos de les aplicaciones
Name[az]=Tətbiq icazələri
Name[be]=Дазволы праграм
Name[bg]=Разрешения за приложения
Name[ca]=Permisos de les aplicacions
Name[ca@valencia]=Permisos de les aplicacions
Name[cs]=Oprávnění aplikace
Name[da]=Applikationstilladelser
Name[de]=Anwendungsberechtigungen
Name[el]=Δικαιώματα εφαρμογών
Name[en_GB]=Application Permissions
Name[eo]=Aplikaĵaj Rajtigoj
Name[es]=Permisos de las aplicaciones
Name[eu]=Aplikazioen baimenak
Name[fi]=Sovellusten käyttöoikeudet
Name[fr]=Permissions des applications
Name[gl]=Permisos de aplicacións
Name[he]=הרשאות יישומים
Name[hu]=Alkalmazásjogosultságok
Name[ia]=Permissiones de Application
Name[id]=Perizinan Aplikasi
Name[ie]=Permissiones por applicationes
Name[is]=Forritaheimildir
Name[it]=Permessi delle applicazioni
Name[ja]=アプリケーションの権限
Name[ka]=აპლიკაციის წვდომები
Name[ko]=앱 권한
Name[lt]=Programų leidimai
Name[lv]=Programmu atļaujas
Name[nl]=Rechten van toepassingen
Name[nn]=Program­løyve
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਇਜਾਜ਼ਤਾਂ
Name[pl]=Uprawnienia programów
Name[pt_BR]=Permissões de aplicativos
Name[ro]=Permisiuni aplicații
Name[ru]=Права доступа приложений
Name[sa]=अनुप्रयोगस्य अनुमतिः
Name[sk]=Oprávnenia aplikácií
Name[sl]=Dovoljenja aplikacij
Name[sv]=Programrättigheter
Name[ta]=செயலிகளுக்கான அனுமதிகள்
Name[tr]=Uygulama İzinleri
Name[uk]=Права доступу програм
Name[x-test]=xxApplication Permissionsxx
Name[zh_CN]=应用程序权限
Name[zh_TW]=應用程式權限
