[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=input-devices
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=40
Icon=preferences-desktop-peripherals

Name=Human Input Devices
