[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=shortcuts
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=60
Icon=preferences-desktop-keyboard-shortcut

Name=Shortcuts
Name[ca]=Dreceres
Name[nl]=Sneltoetsen
Name[pl]=Skróty
Name[pt]=Atalhos
Name[sv]=Genvägar
Name[uk]=Скорочення
Name[x-test]=xxShortcutsxx
