[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=windowmanagement
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=50
Icon=preferences-system-windows

Name=Window Behavior
