[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=color
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=60
Icon=preferences-desktop-color

Name=Colors
