[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=removable-storage
X-KDE-System-Settings-Parent-Category=hardware
Icon=drive-removable-media

Name=Removable Storage
