[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=personal-information
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-user

Name=Personal Information
Name[cs]=Osobní informace
Name[de]=Persönliche Informationen
Name[en_GB]=Personal Information
Name[es]=Información personal
Name[ia]=Information Personal
Name[id]=Informasi Personal
Name[is]=Persónulegar upplýsingar
Name[ja]=個人情報
Name[kk]=Дербес мәлімет
Name[km]=ព័ត៌មាន​​ផ្ទាល់ខ្លួន
Name[lt]=Asmeninė informacija
Name[nb]=Personlige opplysninger
Name[nds]=Persöönliche Informatschonen
Name[nl]=Persoonlijke informatie
Name[pa]=ਨਿੱਜੀ ਜਾਣਕਾਰੀ
Name[pt]=Informação Pessoal
Name[pt_BR]=Informações pessoais
Name[sv]=Personlig information
Name[th]=ข้อมูลส่วนบุคคล
Name[uk]=Особисті відомості
Name[x-test]=xxPersonal Informationxx
Name[zh_TW]=個人資訊

