[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=windowmanagement
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=50
Icon=preferences-system-windows

Name=Window Management
Name[ca]=Gestió de les finestres
Name[cs]=Správa oken
Name[de]=Fensterverwaltung
Name[en_GB]=Window Management
Name[es]=Gestión de ventanas
Name[fi]=Ikkunointi
Name[ia]=Gestion de Fenestra
Name[id]=Manajemen Jendela
Name[nds]=Finsterpleeg
Name[nl]=Vensterbeheer
Name[pl]=Zarządzanie oknami
Name[pt]=Gestão de Janelas
Name[pt_BR]=Gerenciamento de janelas
Name[sk]=Správa okien
Name[sl]=Upravljanje z okni
Name[sr]=Управљање прозорима
Name[sr@ijekavian]=Управљање прозорима
Name[sr@ijekavianlatin]=Upravljanje prozorima
Name[sr@latin]=Upravljanje prozorima
Name[sv]=Fönsterhantering
Name[uk]=Керування вікнами
Name[x-test]=xxWindow Managementxx
