[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=windowmanagement
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=50
Icon=preferences-system-windows

Name=Window Management
Name[ca]=Gestió de les finestres
Name[id]=Manajemen Jendela
Name[nl]=Vensterbeheer
Name[pt]=Gestão de Janelas
Name[pt_BR]=Gerenciamento de janelas
Name[sk]=Správa okien
Name[sv]=Fönsterhantering
Name[uk]=Керування вікнами
Name[x-test]=xxWindow Managementxx
