[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=look-and-feel
X-KDE-System-Settings-Parent-Category=general
Icon=looknfeel

Name=Look & Feel
Name[ja]=外観
Name[sv]=Utseende och känsla
Name[zh_TW]=外觀與感覺
