[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-and-system-notifications
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-notification

Name=Application and System Notifications
Name[bn]=অ্যাপলিকেশন এবং সিস্টেম বিজ্ঞপ্তি
Name[ca]=Notificacions de les aplicacions i del sistema
Name[ca@valencia]=Notificacions de les aplicacions i del sistema
Name[cs]=Oznamování aplikací a systému
Name[da]=Program- og systembekendtgørelser
Name[de]=Anwendungs- und Systembenachrichtigungen
Name[en_GB]=Application and System Notifications
Name[es]=Notificaciones de aplicaciones y del sistema
Name[et]=Rakenduste ja süsteemi märguanded
Name[fr]=Notifications des applications et du système
Name[ia]=Applicationes e Notificationes de Systema
Name[id]=Notifikasi Sistem dan Aplikasi
Name[is]=Tilkynningar kerfis og forrita
Name[it]=Notifiche delle applicazioni e di sistema
Name[ja]=アプリケーションとシステムの通知
Name[kk]=Қолданба мен жүйелік құлақтандырулары
Name[km]=កា​រជូនដំណឹង​ប្រព័ន្ធ និង​កម្មវិធី​
Name[kn]=ಅನ್ವಯ ಹಾಗು ವ್ಯವಸ್ಥೆಯ ಸೂಚನೆಗಳು
Name[lt]=Programų ir sistemos pranešimai
Name[nb]=Program- og systemvarsler
Name[nds]=Programm- un Systeembescheden
Name[nl]=Programma- en systeemmeldingen
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਤੇ ਸਿਸਟਮ ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pt]=Notificações das Aplicações e do Sistema
Name[pt_BR]=Notificações dos aplicativos e do sistema
Name[ru]=Уведомления от системы и приложений
Name[sv]=Program- och systemunderrättelser
Name[tg]=Барномаҳо ва огоҳномаҳои система
Name[th]=การแจ้งให้ทราบของโปรแกรมและระบบ
Name[uk]=Сповіщення програм і системи
Name[x-test]=xxApplication and System Notificationsxx
Name[zh_CN]=应用程序和系统通知
Name[zh_TW]=應用程式與系統通知
