[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=networksettings
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=10
Icon=preferences-system-network

Name=Wi-Fi & Networking
Name[bg]=Wi-Fi и мрежа
Name[ca]=Wi-Fi i xarxes
Name[ca@valencia]=Wi-Fi i xarxes
Name[es]=Wifi y redes
Name[ia]=Wi-Fi & Networking (Sur le retes)
Name[nl]=Wi-Fi & netwerken
Name[sa]=वाई-फाई एवं संजालीकरणम्
Name[sl]=Wi-Fi in omrežje
Name[tr]=Wi-Fi ve Ağ
Name[uk]=Wi-Fi і мережа
Name[x-test]=xxWi-Fi & Networkingxx
