[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=computer-administration
X-KDE-System-Settings-Parent-Category=general
X-KDE-Weight=200
Icon=preferences-system

Name=Computer Administration
Name[ar]=إدارة الحاسوب
Name[be]=Адміністраванне камп'ютэру
Name[bg]=Администрация
Name[ca]=Administració de l'ordinador
Name[csb]=Sprôwianié systemą
Name[de]=Systemverwaltung
Name[el]=Διαχείριση συστήματος
Name[eo]=Komputila administrado
Name[es]=Administración del equipo
Name[et]=Arvuti haldamine
Name[eu]=Sistemaren kudeaketa
Name[fa]=سرپرستی رایانه
Name[fi]=Järjestelmän hallinta
Name[fr]=Administration de l'ordinateur
Name[fy]=Kompjûter administraasje
Name[ga]=Riarachán an Ríomhaire
Name[gl]=Administración do ordenador
Name[he]=ניהול המחשב
Name[hi]=कम्प्यूटर प्रशासन
Name[hr]=Administracija računala
Name[hu]=Számítógépkezelő
Name[is]=Kerfisstjórnun
Name[it]=Amministrazione del computer
Name[ja]=コンピュータの管理
Name[kk]=Компьютерді қадағалау
Name[km]=កា​រគ្រប់គ្រង​កុំព្យូទ័រ​
Name[ko]=컴퓨터 관리
Name[lv]=Datora administrācija
Name[nb]=Administrasjon av maskinen
Name[nds]=Systeempleeg
Name[ne]=कम्प्युटर प्रशासन
Name[nl]=Computerbeheer
Name[nn]=Systemadministrasjon
Name[pa]=ਕੰਪਿਊਟਰ ਪਰਸ਼ਾਸ਼ਨ
Name[pl]=Administracja systemu
Name[pt]=Administração do Computador
Name[pt_BR]=Administração do Computador
Name[ru]=Системное администрирование
Name[se]=Vuogádathálddašeapmi
Name[sl]=Sistemsko upravljanje
Name[sr]=Администрација рачунара
Name[sr@latin]=Administracija računara
Name[sv]=Datoradministration
Name[tg]=Мудири компютер
Name[th]=การดูแลระบบคอมพิวเตอร์
Name[uk]=Адміністрування комп'ютера
Name[wa]=Manaedjmint del copiutrece
Name[x-test]=xxComputer Administrationxx
Name[zh_CN]=计算机管理
Name[zh_TW]=電腦管理
