[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=power-management
X-KDE-System-Settings-Parent-Category=hardware
Icon=preferences-system-power-management

Name=Power Management
Name[nl]=Energiebeheer
Name[uk]=Керування живленням
Name[x-test]=xxPower Managementxx
