[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=keyboard-and-mouse
X-KDE-System-Settings-Parent-Category=computer-administration
Icon=keyboard

Name=Keyboard & Mouse
Name[zh_TW]=鍵盤與滑鼠
