[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-and-system-notifications
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-notification

Name=Application and System Notifications
Name[ia]=Applicationes e Notificationes de Systema
Name[kk]=Қолданба мен жүйелік құлақтандырулары
Name[pt]=Notificações das Aplicações e do Sistema
Name[pt_BR]=Notificações dos aplicativos e do sistema
Name[sv]=Program- och systemunderrättelser
Name[uk]=Сповіщення програм і системи
Name[x-test]=xxApplication and System Notificationsxx
Name[zh_TW]=應用程式與系統通知
