[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=personal
X-KDE-System-Settings-Parent-Category=general
Icon=preferences-desktop-personal

Name=Personal
Name[ar]=شخصي
Name[be]=Асабістыя
Name[bg]=Лични бележки
Name[csb]=Swòje
Name[de]=Persönliches
Name[el]=Προσωπικά
Name[eo]=Persona
Name[et]=Isiklik
Name[eu]=Pertsonala
Name[fa]=شخصی
Name[fi]=Henkilökohtaista
Name[fr]=Personnel
Name[fy]=Persoanlik
Name[ga]=Pearsanta
Name[gl]=Persoal
Name[gu]=અંગત
Name[he]=הגדרות אישיות
Name[hi]=निजी
Name[hu]=Személyes
Name[is]=Einkaskrár
Name[it]=Personale
Name[ja]=個人
Name[kk]=Дербес
Name[km]=ផ្ទាល់ខ្លួន
Name[kn]=ವೈಯಕ್ತಿಕ
Name[ko]=개인
Name[ku]=Şexsî
Name[lv]=Personas
Name[ml]=സ്വകാര്യം
Name[nb]=Personlig
Name[nds]=Persöönlich
Name[ne]=व्यक्तिगत
Name[nl]=Persoonlijk
Name[nn]=Personleg
Name[pa]=ਨਿੱਜੀ
Name[pl]=Osobiste
Name[pt]=Pessoal
Name[pt_BR]=Pessoais
Name[ru]=Личные данные
Name[se]=Persuvnnalaš
Name[sl]=Osebno
Name[sr]=Лични подаци
Name[sr@latin]=Lični podaci
Name[sv]=Personligt
Name[tg]=Шахсӣ
Name[th]=ส่วนบุคคล
Name[tr]=Kişisel
Name[uk]=Особисті параметри
Name[wa]=Da vosse
Name[x-test]=xxPersonalxx
Name[zh_CN]=个人
Name[zh_TW]=個人
