[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=display
X-KDE-System-Settings-Parent-Category=hardware
Icon=preferences-desktop-display

Name=Display and Monitor
Comment=Display Settings

