[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=desktop
X-KDE-System-Settings-Parent-Category=look-and-feel
Icon=preferences-desktop

Name=Desktop
Name[af]=Werkskerm
Name[ar]=سطح المكتب
Name[be]=Працоўны стол
Name[bg]=Работен плот
Name[bn]=ডেস্কটপ
Name[br]=Gorretaol
Name[ca]=Escriptori
Name[cs]=Pracovní plocha
Name[csb]=Pùlt
Name[cy]=Penbwrdd
Name[de]=Arbeitsfläche
Name[el]=Επιφάνεια εργασίας
Name[eo]=Labortablo
Name[es]=Escritorio
Name[et]=Töölaud
Name[eu]=Mahaigaina
Name[fa]=رومیزی
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[fy]=Buroblêd
Name[ga]=Deasc
Name[gl]=Escritorio
Name[gu]=ડેસ્કટોપ
Name[he]=שולחן עבודה
Name[hi]=डेस्कटॉप
Name[hr]=Radna površina
Name[hu]=Munkaasztal
Name[is]=Skjáborð
Name[ja]=デスクトップ
Name[ka]=სამუშაო დაფა
Name[kk]=Жұмыс үстелі
Name[km]=ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ
Name[ko]=데스크톱
Name[ku]=Sermasê
Name[lt]=Darbastalis
Name[lv]=Darbvirsma
Name[mk]=Работна површина
Name[ml]=പണിയിടം
Name[ms]=Ruang Kerja
Name[nb]=Skrivebord
Name[nds]=Schriefdisch
Name[ne]=डेस्कटप
Name[nl]=Bureaublad
Name[nn]=Skrivebord
Name[oc]=Burèu
Name[pa]=ਡੈਸਕਟਾਪ
Name[pl]=Pulpit
Name[pt]=Ambiente de Trabalho
Name[pt_BR]=Área de Trabalho
Name[ru]=Рабочий стол
Name[se]=Čállinbeavdi
Name[sk]=Plocha
Name[sl]=Namizje
Name[sr]=Радна површ
Name[sr@latin]=Radna površ
Name[sv]=Skrivbord
Name[ta]=மேல்மேசை
Name[te]=రంగస్ఠలం
Name[tg]=Мизи корӣ
Name[th]=พื้นที่ทำงาน
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[uz]=Иш столи
Name[vi]=Màn hình nền
Name[wa]=Sicribanne
Name[x-test]=xxDesktopxx
Name[zh_CN]=桌面
Name[zh_TW]=桌面

