[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-appearance
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-theme

Name=Application Appearance
Name[uk]=Вигляд вікон програм
Name[x-test]=xxApplication Appearancexx
