[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=peripherals
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=70
Icon=preferences-desktop-peripherals

Name=Peripherals
Name[ca]=Perifèrics
Name[cs]=Periférie
Name[de]=Angeschlossene Geräte
Name[en_GB]=Peripherals
Name[es]=Periféricos
Name[fi]=Oheislaitteet
Name[ia]=Peripherals
Name[id]=Periferal
Name[ko]=주변 장치
Name[nds]=Reedschappen
Name[nl]=Randapparaten
Name[nn]=Tilleggseiningar
Name[pl]=Urządzenia peryferyjne
Name[pt]=Periféricos
Name[pt_BR]=Periféricos
Name[ru]=Периферийные устройства
Name[se]=Lasseovttadagat
Name[sk]=Periférie
Name[sl]=Strojni dodatki
Name[sr]=Периферије
Name[sr@ijekavian]=Периферије
Name[sr@ijekavianlatin]=Periferije
Name[sr@latin]=Periferije
Name[sv]=Periferienheter
Name[uk]=Периферійні пристрої
Name[x-test]=xxPeripheralsxx
