[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=desktop-appearance
X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Desktop Appearance
Name[cs]=Vzhled pracovní plochy
Name[en_GB]=Desktop Appearance
Name[es]=Apariencia del escritorio
Name[ia]=Apparentia de Scriptorio
Name[is]=Skjáborðsútlit
Name[ja]=デスクトップの外観
Name[kk]=Үстел көрінісі
Name[km]=រូបរាង​ផ្ទៃតុ
Name[nb]=Skrivebordsutseende
Name[nl]=Uiterlijk van bureaublad
Name[pt]=Aparência do Ambiente de Trabalho
Name[pt_BR]=Aparência da área de trabalho
Name[sv]=Skrivbordsutseende
Name[th]=รูปลักษณ์ของพื้นที่ทำงาน
Name[uk]=Вигляд стільниці
Name[x-test]=xxDesktop Appearancexx
Name[zh_TW]=桌面外觀
