[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=network-and-connectivity
X-KDE-System-Settings-Parent-Category=general
Icon=preferences-system-network

Name=Network & Connectivity
Name[de]=Netzwerk & Verbindungen
Name[el]=Δίκτυο & συνδεσιμότητα
Name[es]=Red y conectividad
Name[fa]=شبکه و اتصال
Name[ga]=Líonra & Nascacht
Name[ja]=ネットワークと接続
Name[km]=បណ្តាញ និង​ការតភ្ជាប់ 
Name[nds]=Nettwark un Verbinnen
Name[nl]=Netwerk en connectiviteit
Name[pa]=ਨੈੱਟਵਰਕ ਅਤੇ ਕੁਨੈਕਟਵਟੀ
Name[pt]=Rede e Conectividade
Name[pt_BR]=Rede e Conectividade
Name[sl]=Omrežje in povezljivost
Name[sv]=Nätverk och anslutningar
Name[uk]=Мережа і з'єднання
Name[zh_TW]=網路連線
