[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=notifications
X-KDE-System-Settings-Parent-Category=look-and-feel
Icon=knotify

Name=Notifications
Name[es]=Notificaciones
Name[ja]=通知
Name[sv]=Underrättelser
Name[zh_TW]=通知
