[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=peripherals
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=70
Icon=preferences-desktop-peripherals

Name=Peripherals
Name[ca]=Perifèrics
Name[es]=Periféricos
Name[fi]=Oheislaitteet
Name[id]=Periferal
Name[nds]=Reedschappen
Name[nl]=Randapparaten
Name[pl]=Urządzenia peryferyjne
Name[pt]=Periféricos
Name[pt_BR]=Periféricos
Name[sk]=Periférie
Name[sv]=Periferienheter
Name[uk]=Периферійні пристрої
Name[x-test]=xxPeripheralsxx
