[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=advanced-user-settings
X-KDE-System-Settings-Parent-Category=advanced
Icon=system-users

Name=Advanced User Settings
Name[ar]=إعدادات المستخدم المتقدمة
Name[be]=Адмысловыя настаўленні карыстальніка
Name[bg]=Настройване предпазителя на екрана
Name[ca]=Paràmetres avançats d'usuari
Name[csb]=Awansowóné nastôwë brëkòwników
Name[de]=Erweiterte Benutzereinstellungen
Name[el]=Προχωρημένες ρυθμίσεις χρήστη
Name[eo]=Plia uzantagordo
Name[es]=Preferencias para usuarios avanzados
Name[et]=Muud kasutaja seadistused
Name[eu]=Erabiltzaile aurreratu ezarpenak
Name[fa]=تنظیمات کاربر پیشرفته
Name[fi]=Edistyneen käyttäjän asetukset
Name[fr]=Configuration avancée de l'utilisateur
Name[fy]=Avansearre brûkers ynstellings
Name[ga]=Ardsocruithe Úsáideora
Name[gl]=Configuración avanzada do usuario
Name[he]=הגדרות משתמש מתקדמות
Name[hi]=उन्नत उपयोक्ता विन्यास
Name[hr]=Napredne korisničke postavke
Name[hu]=Speciális beállítások
Name[is]=Frekari stillingar notanda
Name[it]=Impostazioni utente avanzate
Name[ja]=詳細なユーザ設定
Name[kk]=Тәжірибелі пайдаланушының параметрлері
Name[km]=ការ​កំណត់​អ្នកប្រើ​កម្រិត​ខ្ពស់
Name[ko]=고급 사용자 설정
Name[lv]=Paplašināti lietotāja uzstādījumi
Name[nb]=Avanserte brukerinnstillinger
Name[nds]=Verwiedert Brukerinstellen
Name[ne]=उन्नत प्रयोगकर्ता सेटिङ
Name[nl]=Uitgebreide instellingen
Name[nn]=Avanserte brukarinnstillingar
Name[oc]=Paramètres personalizats avançats
Name[pa]=ਤਕਨੀਕੀ ਯੂਜ਼ਰ ਸੈਟਿੰਗ
Name[pl]=Zaawansowane ustawienia użytkownika
Name[pt]=Configuração Avançada do Utilizador
Name[pt_BR]=Configurações Avançadas do Usuário
Name[ru]=Дополнительные параметры
Name[se]=Erenoamáš geavaheaddjiheivehusat
Name[sl]=Napredne nastavitve uporabnika
Name[sr]=Напредне корисничке поставке
Name[sr@latin]=Napredne korisničke postavke
Name[sv]=Avancerade användarinställningar
Name[th]=การตั้งค่าผู้ใช้เพิ่มเติม
Name[uk]=Додаткові користувацькі параметри
Name[wa]=Sipepieus apontiaedjes di l' uzeu
Name[x-test]=xxAdvanced User Settingsxx
Name[zh_CN]=高级用户设置
Name[zh_TW]=進階使用者設定
