[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=network-settings
X-KDE-System-Settings-Parent-Category=network-and-connectivity
Icon=network_local

Name=Network Settings
Name[zh_TW]=網路設定
