[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=locale
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-locale

Name=Locale
Name[ar]=المحلّية
Name[bn]=লোকেল
Name[ca]=Localització
Name[ca@valencia]=Localització
Name[cs]=Lokalizace
Name[da]=Lokalitet
Name[de]=Regionales
Name[en_GB]=Locale
Name[es]=Local
Name[et]=Keeleseadistused
Name[eu]=Bertakoa
Name[fi]=Lokaali
Name[fr]=Localisation
Name[gu]=સ્થાનિય
Name[hr]=Lokalnost
Name[ia]=Local
Name[id]=Locale
Name[is]=Staðfærsla
Name[it]=Localizzazione
Name[ja]=ロケール
Name[ka]=ენა
Name[kk]=Жергілікті стандарттар
Name[km]=មូលដ្ឋាន
Name[kn]=ಪ್ರಾದೇಶಿಕ
Name[ko]=로캘
Name[lt]=Lokalė
Name[nb]=Lokale
Name[nds]=Spraakinstellen
Name[nl]=Taalregio
Name[nn]=Land og språk
Name[pa]=ਲੋਕੇਲ
Name[pt]=Localização
Name[pt_BR]=Localização
Name[ru]=Локаль
Name[si]=ස්ථානය
Name[sk]=Lokalizácia
Name[sr]=Локалитет
Name[sr@ijekavian]=Локалитет
Name[sr@ijekavianlatin]=Lokalitet
Name[sr@latin]=Lokalitet
Name[sv]=Plats
Name[th]=ภาษาระบบ
Name[uk]=Локаль
Name[x-test]=xxLocalexx
Name[zh_CN]=语系
Name[zh_TW]=地域
