[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=regionalsettings-formats
X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=10
Icon=preferences-desktop-locale

Name=Region & Language
