[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=about-me
X-KDE-System-Settings-Parent-Category=personal
Icon=preferences-desktop-user

Name=About Me
Name[ar]=نبذة عني
Name[bg]=За мен
Name[ca]=Quant a mi
Name[da]=Om mig
Name[de]=Persönliche Informationen
Name[el]=Σχετικά με μένα
Name[eo]=Pri mi
Name[es]=Acerca de mí
Name[et]=Isiklik info
Name[eu]=Niri buruz
Name[fa]=درباره من
Name[fi]=Minä
Name[fr]=À propos de moi
Name[fy]=Ynfo oer my
Name[ga]=Maidir Liomsa
Name[gl]=Acerca de min
Name[gu]=મારા વિશે
Name[he]=אודותיי
Name[hi]=मेरे बारे में
Name[hu]=Névjegy
Name[is]=Um mig
Name[it]=Informazioni su di me
Name[ja]=個人情報
Name[kk]=Өзім туралы
Name[km]=អំពី​ខ្ញុំ​
Name[ko]=내 정보
Name[ku]=Der barê min de
Name[lv]=Par mani
Name[nb]=Om meg
Name[nds]=Brukerdaten
Name[ne]=मेरो बारेमा
Name[nl]=Info over mij
Name[nn]=Om meg
Name[oc]=A prepaus de ieu
Name[pa]=ਮੇਰੇ ਬਾਰੇ
Name[pl]=O mnie
Name[pt]=Acerca de Mim
Name[pt_BR]=Meu Usuário
Name[ro]=Despre mine
Name[ru]=Личные данные
Name[se]=Iežan dieđut
Name[sl]=O meni
Name[sr]=О мени
Name[sr@latin]=O meni
Name[sv]=Om mig
Name[tg]=Дар бораи ман
Name[th]=เกี่ยวกับฉัน
Name[tr]=Hakkımda
Name[uk]=Про мене
Name[wa]=Åd fwait d' mi
Name[x-test]=xxAbout Mexx
Name[zh_CN]=关于我自己
Name[zh_TW]=關於我
