[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=shortcuts-and-gestures
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-keyboard

Name=Shortcuts and Gestures
Name[en_GB]=Shortcuts and Gestures
Name[ia]=Vias Breve e Gestures
Name[kk]=Тіркесімдер мен ым қимылдары
Name[pt]=Atalhos e Gestos
Name[pt_BR]=Atalhos e gestos
Name[sv]=Genvägar och gester
Name[uk]=Скорочення і жести
Name[x-test]=xxShortcuts and Gesturesxx
Name[zh_TW]=捷徑與手勢

