[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=notification
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-Weight=60
Icon=preferences-desktop-notification

Name=Notifications
Name[ca]=Notificacions
Name[ca@valencia]=Notificacions
Name[da]=Bekendtgørelser
Name[el]=Ειδοποιήσεις
Name[en_GB]=Notifications
Name[es]=Notificaciones
Name[fi]=Ilmoitukset
Name[gl]=Notificacións
Name[nb]=Varslinger
Name[nl]=Meldingen
Name[nn]=Varslingar
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[sv]=Underrättelser
Name[uk]=Сповіщення
Name[x-test]=xxNotificationsxx
Name[zh_TW]=通知
