[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=applications-defaults
X-KDE-System-Settings-Parent-Category=applications
X-KDE-Weight=10
Icon=preferences-desktop-default-applications

Name=Default Applications
Name[bg]=Стандартни приложения
Name[ca]=Aplicacions predeterminades
Name[ca@valencia]=Aplicacions predeterminades
Name[es]=Aplicaciones predeterminadas
Name[eu]=Aplikazio lehenetsiak
Name[ia]=Applicationes predefinite
Name[ka]=ნაგულისხმევი აპლიკაციები
Name[nl]=Standaard toepassingen
Name[sa]=पूर्वनिर्धारित अनुप्रयोगाः
Name[sl]=Privzete aplikacije
Name[tr]=Öntanımlı Uygulamalar
Name[uk]=Типові програми
Name[x-test]=xxDefault Applicationsxx
