[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=workspace-appearance-and-behavior
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Workspace Appearance and Behavior
Name[pt]=Aparência e Comportamento da Área de Trabalho
Name[sv]=Arbetsytans utseende och beteende
Name[uk]=Вигляд і поведінка робочого простору
Name[x-test]=xxWorkspace Appearance and Behaviorxx
Name[zh_TW]=工作空間外觀與行為
