[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=audio-and-video
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=200
Icon=preferences-desktop-peripherals

Name=Audio and Video
Name[x-test]=xxAudio and Videoxx
