[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=shortcuts-and-gestures
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-keyboard

Name=Shortcuts and Gestures

