[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=keyboard-and-mouse
X-KDE-System-Settings-Parent-Category=computer-administration
Icon=keyboard

Name=Keyboard & Mouse
Name[de]=Tastatur & Maus
Name[el]=Πληκτρολόγιο & ποντίκι
Name[es]=Teclado y ratón
Name[fa]=صفحه کلید و موشی
Name[ga]=Méarchlár agus Luch
Name[ja]=キーボードとマウス
Name[nds]=Tastatuur un Muus
Name[nl]=Toetsenbord en muis
Name[pt]=Rato e Teclado
Name[pt_BR]=Rato e Teclado
Name[sv]=Tangentbord och mus
Name[uk]=Клавіатура і мишка
Name[zh_TW]=鍵盤與滑鼠
