[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-appearance
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-theme

Name=Application Appearance
Name[bn]=অ্যাপলিকেশন-এর চেহারা
Name[ca]=Aparença de les aplicacions
Name[ca@valencia]=Aparença de les aplicacions
Name[cs]=Vzhled aplikací
Name[da]=Programmers udseende
Name[de]=Erscheinungsbild von Anwendungen
Name[en_GB]=Application Appearance
Name[es]=Apariencia de las aplicaciones
Name[et]=Rakenduste välimus
Name[fr]=Apparence de l'application
Name[ia]=Apparentia  de Application
Name[id]=Tampilan Aplikasi
Name[is]=Útlit forrita
Name[it]=Aspetto delle applicazioni
Name[ja]=アプリケーションの外観
Name[kk]=Қолданба көрінісі
Name[km]=រូបរាង​កម្មវិធី​
Name[kn]=ಅನ್ವಯ ಗೋಚರಿಕೆ
Name[lt]=Programų išvaizda
Name[nb]=Programutseende
Name[nds]=Programmutsehn
Name[nl]=Uiterlijk van programma
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਦਿੱਖ
Name[pt]=Aparência das Aplicações
Name[pt_BR]=Aparência dos aplicativos
Name[ru]=Внешний вид приложений
Name[sv]=Programutseende
Name[tg]=Намуди зоҳирии барнома
Name[th]=รูปลักษณ์ของโปรแกรม
Name[uk]=Вигляд вікон програм
Name[x-test]=xxApplication Appearancexx
Name[zh_CN]=应用程序外观
Name[zh_TW]=應用程式外觀
