[Desktop Entry]
Encoding=UTF-8
Icon=kcmkwm
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=window-behaviour
X-KDE-System-Settings-Parent-Category=look-and-feel

Name=Window Behavior
