[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=account-details
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-user

Name=Account Details
Name[sv]=Kontoinformation
Name[uk]=Параметри облікового запису
Name[x-test]=xxAccount Detailsxx

