[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=personal
X-KDE-System-Settings-Parent-Category=general
Icon=preferences-desktop-personal

Name=Personal
Name[ga]=Pearsanta
Name[ja]=個人
Name[pt]=Pessoal
Name[pt_BR]=Pessoal
Name[sv]=Personligt
Name[zh_TW]=個人
