[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=applications
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=50
Icon=applications-all

Name=Apps & Windows
Name[ar]=التطبيقات والنوافذ
Name[ast]=Aplicaciones y ventanes
Name[az]=Tətbiqlər və pəncərələr
Name[be]=Праграмы і вокны
Name[bg]=Програми и прозорци
Name[ca]=Aplicacions i finestres
Name[ca@valencia]=Aplicacions i finestres
Name[cs]=Aplikace a okna
Name[da]=Programmer og vinduer
Name[de]=Anwendungen & Fenster
Name[el]=Εφαρμογές και παράθυρα
Name[en_GB]=Apps & Windows
Name[eo]=Apoj & Fenestroj
Name[es]=Aplicaciones y ventanas
Name[eu]=Aplikazioak eta leihoak
Name[fi]=Sovellukset ja ikkunat
Name[fr]=Applications & Fenêtres
Name[gl]=Aplicacións e xanelas
Name[he]=יישומים וחלונות
Name[hu]=Alkalmazások és ablakok
Name[ia]=Apps & Fenestras
Name[id]=Apl & Jendela
Name[ie]=Applicationes e fenestres
Name[is]=Forrit og gluggar
Name[it]=Applicazioni e finestre
Name[ja]=アプリケーションとウィンドウ
Name[ka]=აპები & ფანჯრები
Name[ko]=앱과 창
Name[lt]=Programos ir langai
Name[lv]=Programmas un logi
Name[nl]=Toepassingen & vensters
Name[nn]=Program og vindauge
Name[pa]=ਐਪਾਂ ਤੇ ਵਿੰਡੋ
Name[pl]=Aplikacje i okna
Name[pt_BR]=Aplicativos e janelas
Name[ro]=Aplicații și ferestre
Name[ru]=Приложения и окна
Name[sa]=अनुप्रयोगाः एवं गवाक्षाः
Name[sk]=Aplikácie a okná
Name[sl]=Aplikacije in okna
Name[sv]=Program och fönster
Name[ta]=செயலிகளும் சாளரங்களும்
Name[tr]=Uygulamalar ve Pencereler
Name[uk]=Програми і вікна
Name[x-test]=xxApps & Windowsxx
Name[zh_CN]=应用和窗口
Name[zh_TW]=應用程式與視窗
