[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=accessibility
X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior
Icon=preferences-desktop-accessibility

Name=Accessibility
Name[uk]=Доступність
Name[x-test]=xxAccessibilityxx
