[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=advanced
X-KDE-System-Settings-Parent-Category=

Name=Advanced
Name[ja]=詳細
Name[sv]=Avancerat
Name[zh_TW]=進階
