[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=applicationstyle
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Application Style
Name[ca]=Estil de l'aplicació
Name[es]=Estilo de las aplicaciones
Name[fi]=Sovellusten tyyli
Name[id]=Gaya Aplikasi
Name[nds]=Programmstil
Name[nl]=Stijl van toepassing
Name[pl]=Styl programów
Name[pt]=Estilo das Aplicações
Name[pt_BR]=Estilo dos aplicativos
Name[sk]=Štýl aplikácií
Name[sl]=Slog programov
Name[sr]=Стил програма
Name[sr@ijekavian]=Стил програма
Name[sr@ijekavianlatin]=Stil programa
Name[sr@latin]=Stil programa
Name[sv]=Programstil
Name[uk]=Стиль вікон програм
Name[x-test]=xxApplication Stylexx
