[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=regional-and-language
X-KDE-System-Settings-Parent-Category=personal
Icon=locale

Name=Regional & Language
Name[es]=Región e idioma
Name[ga]=Réigiún agus Teanga
Name[ja]=国と言語
Name[pt]=Região e Língua
Name[pt_BR]=Região e Língua
Name[sv]=Region och språk
Name[zh_TW]=地區與語言
