[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=keyboard-and-mouse
X-KDE-System-Settings-Parent-Category=computer-administration
Icon=preferences-desktop-keyboard

Name=Keyboard & Mouse
Name[be]=Клавіятура і мыш
Name[bg]=Клавиатурни подредби
Name[de]=Tastatur & Maus
Name[el]=Πληκτρολόγιο & ποντίκι
Name[es]=Teclado y ratón
Name[fa]=صفحه کلید و موشی
Name[ga]=Méarchlár & Luch
Name[ja]=キーボードとマウス
Name[km]=ក្តារ​ចុច​ និង​កណ្តុរ​
Name[nds]=Tastatuur un Muus
Name[nl]=Toetsenbord en muis
Name[pa]=ਕੀ-ਬੋਰਡ ਅਤੇ ਮਾਊਂਸ
Name[pt]=Rato e Teclado
Name[pt_BR]=Rato e Teclado
Name[sv]=Tangentbord och mus
Name[uk]=Клавіатура і мишка
Name[zh_TW]=鍵盤與滑鼠
