[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system
X-KDE-System-Settings-Parent-Category=advanced
Icon=kcmsystem

Name=System
Name[zh_TW]=系統
