[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=notification
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-Weight=60
Icon=preferences-desktop-notification

Name=Notifications
Name[ast]=Avisos
Name[ca]=Notificacions
Name[ca@valencia]=Notificacions
Name[da]=Bekendtgørelser
Name[el]=Ειδοποιήσεις
Name[en_GB]=Notifications
Name[es]=Notificaciones
Name[fi]=Ilmoitukset
Name[gl]=Notificacións
Name[it]=Notifiche
Name[lt]=Pranešimai
Name[nb]=Varslinger
Name[nl]=Meldingen
Name[nn]=Varslingar
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[se]=Dieđáhusat
Name[sk]=Upozornenia
Name[sl]=Obvestila
Name[sr]=Обавештења
Name[sr@ijekavian]=Обавјештења
Name[sr@ijekavianlatin]=Obavještenja
Name[sr@latin]=Obaveštenja
Name[sv]=Underrättelser
Name[uk]=Сповіщення
Name[x-test]=xxNotificationsxx
Name[zh_CN]=通知
