[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=desktopbehavior
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=40
Icon=preferences-desktop

Name=Desktop Behavior
Name[ar]=سلوك سطح المكتب
Name[bs]=Ponašanje Desktopa
Name[ca]=Comportament de l'escriptori
Name[ca@valencia]=Comportament de l'escriptori
Name[cs]=Chování pracovního prostředí
Name[da]=Skrivebordets opførsel
Name[de]=Arbeitsflächen-Verhalten
Name[el]=Συμπεριφορά επιφάνειας εργασίας
Name[en_GB]=Desktop Behaviour
Name[es]=Comportamiento del escritorio
Name[et]=Töölaua käitumine
Name[eu]=Mahaigainaren jokabidea
Name[fi]=Työpöydän toiminta
Name[fr]=Comportement de l'espace de travail
Name[gl]=Comportamento do escritorio
Name[he]=התנהגות שולחן העבודה
Name[hu]=Asztali működés
Name[id]=Perilaku Desktop
Name[it]=Comportamento del desktop
Name[ja]=デスクトップの挙動
Name[ko]=작업 공간 행동
Name[lt]=Darbalaukio elgsena
Name[nb]=Skrivebordsoppførsel
Name[nds]=Schriefdischbedregen
Name[nl]=Gedrag van bureaublad
Name[nn]=Skrivebords­åtferd
Name[pa]=ਡੈਸਕਟਾਪ ਰਵੱਈਆ
Name[pl]=Zachowanie pulpitu
Name[pt]=Comportamento da Área de Trabalho
Name[pt_BR]=Comportamento da Área de Trabalho
Name[ro]=Comportament pentru birou
Name[ru]=Поведение рабочей среды
Name[sk]=Správanie pracovnej plochy
Name[sl]=Obnašanje namizja
Name[sr]=Понашање површи
Name[sr@ijekavian]=Понашање површи
Name[sr@ijekavianlatin]=Ponašanje površi
Name[sr@latin]=Ponašanje površi
Name[sv]=Skrivbordsbeteende
Name[tr]=Çalışma Alanı Davranışı
Name[uk]=Поведінка стільниці
Name[x-test]=xxDesktop Behaviorxx
Name[zh_CN]=桌面行为
Name[zh_TW]=桌面行為
