[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=regionalsettings
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=80
Icon=preferences-desktop-locale

Name=Language & Time
Name[ar]=اللغة والوقت
Name[ast]=Llingua y hora
Name[az]=Dil və zaman
Name[be]=Мова і час
Name[bg]=Език, дата и час
Name[ca]=Idioma i hora
Name[ca@valencia]=Idioma i hora
Name[cs]=Jazyk a čas
Name[da]=Sprog og tid
Name[de]=Sprache & Zeit
Name[el]=Γλώσσα και ώρα
Name[en_GB]=Language & Time
Name[eo]=Lingvo & Horo
Name[es]=Idioma y hora
Name[eu]=Hizkuntza eta ordua
Name[fi]=Kieli ja aika
Name[fr]=Langue & Heure
Name[gl]=Idioma e hora
Name[he]=שפה וזמן
Name[hu]=Nyelv és idő
Name[ia]=Linguage & Tempore
Name[id]=Bahasa & Waktu
Name[ie]=Lingue e hora
Name[is]=Tungumál og tími
Name[it]=Lingua e ora
Name[ja]=言語と時刻
Name[ka]=ენა & დრო
Name[ko]=언어와 시간
Name[lt]=Kalba ir laikas
Name[lv]=Valoda un laiks
Name[nl]=Taal & tijd
Name[nn]=Språk og tid
Name[pa]=ਭਾਸ਼ਾ ਤੇ ਸਮਾਂ
Name[pl]=Język i czas
Name[pt_BR]=Idioma e horário
Name[ro]=Limbă și oră
Name[ru]=Язык и время
Name[sa]=भाषा एवं काल
Name[sk]=Jazyk a čas
Name[sl]=Jezik in čas
Name[sv]=Språk och tid
Name[ta]=மொழியும் நேரமும்
Name[tr]=Dil ve Zaman
Name[uk]=Мова і час
Name[x-test]=xxLanguage & Timexx
Name[zh_CN]=语言和时间
Name[zh_TW]=語言與時間
