[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=networksettings
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=10
Icon=preferences-system-network

Name=Wi-Fi & Internet
Name[ar]=الشّابكة و الشبكات اللاسلكية
Name[az]=Wi-Fi və İnternet
Name[be]=Wi-Fi і інтэрнэт
Name[bg]=Wi-Fi и Интернет
Name[ca]=Wi-Fi i Internet
Name[ca@valencia]=Wi-Fi i Internet
Name[cs]=Wi-Fi a Internet
Name[da]=Wi-Fi og internet
Name[de]=WLAN & Internet
Name[el]=Wi-Fi και διαδίκτυο
Name[en_GB]=Wi-Fi & Internet
Name[eo]=Vifio & Interreto
Name[es]=Wifi e internet
Name[eu]=Wi-Fi eta Internet
Name[fi]=Langaton verkko ja internet
Name[fr]=Wifi et Internet
Name[gl]=Wifi e Internet
Name[he]=רשת אלחוטית ואינטרנט
Name[hu]=Wi-Fi és internet
Name[ia]=Wi-Fi & Internet
Name[id]=Wi-Fi & Internet
Name[ie]=Wi-Fi e Internet
Name[is]=Wi-Fi og internetið
Name[it]=Wi-Fi e Internet
Name[ja]=Wi-Fi とインターネット
Name[ka]=Wi-Fi & ინტერნეტი
Name[ko]=Wi-Fi와 인터넷
Name[lt]=Belaidis (Wi-Fi) ir internetas
Name[lv]=„Wi-Fi“ un Internets
Name[nl]=Wi-Fi & internet
Name[nn]=Wi-Fi og Internett
Name[pa]=ਵਾਈ-ਫਾਈ ਤੇ ਇੰਟਰਨੈੱਟ
Name[pl]=Wi-Fi i Internet
Name[pt_BR]=Wi-Fi e internet
Name[ro]=Wi-Fi și Internet
Name[ru]=Wi-Fi и интернет
Name[sa]=वाई-फाई तथा अन्तर्जालम्
Name[sl]=Wi-Fi in internet
Name[sv]=WIFI och Internet
Name[ta]=அருகலையும் இணையமும்
Name[tr]=Wi-Fi ve İnternet
Name[uk]=Wi-Fi та інтернет
Name[x-test]=xxWi-Fi & Internetxx
Name[zh_CN]=Wi-Fi 和互联网
Name[zh_TW]=Wi-Fi 與網際網路
