[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-appearance-and-behavior
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Common Appearance and Behavior
Name[bn]=সাধারণ চেহারা এবং আচরণ
Name[en_GB]=Common Appearance and Behaviour
Name[es]=Apariencia y comportamiento comunes
Name[ia]=Apparentia e Comportamento Commun
Name[id]=Perilaku dan Tampilan Umum
Name[it]=Aspetto e comportamento comune
Name[kk]=Жалпы көрнісі мен тәртібі
Name[km]=រូបរាង និង​ឥរិយាបថ​ធម្មតា​
Name[lt]=Bendra išvaizda ir elgsena
Name[nds]=Allgemeen Arbeitrebeet-Utsehn un -Bedregen
Name[nl]=Gemeenschappelijk uiterlijk en gedrag
Name[pa]=ਆਮ ਦਿੱਖ ਤੇ ਰਵੱਈਆ
Name[pt]=Aparência e Comportamento Comuns
Name[pt_BR]=Aparência e comportamento comuns
Name[tg]=Намуди зоҳирӣ ва рафтори умумӣ
Name[uk]=Загальний вигляд і поведінка
Name[x-test]=xxCommon Appearance and Behaviorxx
Name[zh_TW]=通用外觀與行為
