[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=security-privacy
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=80
Icon=security-high

Name=Security & Privacy
Name[bg]=Сигурност и лични данни
Name[ca]=Seguretat i privadesa
Name[ca@valencia]=Seguretat i privadesa
Name[eo]=Sekureco & Privateco
Name[es]=Seguridad y privacidad
Name[eu]=Segurtasuna eta pribatutasuna
Name[fr]=Sécurité & Confidentialité
Name[gl]=Seguridade e privacidade
Name[ia]=Securitate & Confidentialitate
Name[it]=Sicurezza e riservatezza
Name[ka]=უსაფრთხოება & კონფიდენციალობა
Name[ko]=보안과 개인 정보
Name[nl]=Beveiliging & privacy
Name[pl]=Bezpieczeństwo i prywatność
Name[sa]=सुरक्षा एवं गोपनीयता
Name[sl]=Varnost in zasebnost
Name[tr]=Güvenlik ve Gizlilik
Name[uk]=Безпека і конфіденційність
Name[x-test]=xxSecurity & Privacyxx
