[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=removable-devices
X-KDE-System-Settings-Parent-Category=hardware
Icon=drive-removable-media

Name=Removable Devices
Name[uk]=Портативні пристрої
Name[x-test]=xxRemovable Devicesxx
