[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=workspacetheme
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=40
Icon=preferences-desktop-plasma

Name=Workspace Theme
Name[ar]=سمة مساحة العمل
Name[bs]=Tema radne površine
Name[ca]=Tema de l'espai de treball
Name[ca@valencia]=Tema de l'espai de treball
Name[cs]=Motiv pracovní plochy
Name[da]=Arbejdsområdets tema
Name[de]=Arbeitsbereich-Design
Name[el]=Θέμα χώρου εργασίας
Name[en_GB]=Workspace Theme
Name[es]=Tema del espacio de trabajo
Name[et]=Töötsooni teema
Name[eu]=Laneko eremuaren gaia
Name[fi]=Työtilan teema
Name[fr]=Apparence de l'espace de travail
Name[gl]=Tema do espazo de traballo
Name[he]=מראה סביבת העבודה
Name[hu]=Asztali téma
Name[id]=Tema Ruang Kerja
Name[it]=Tema dello spazio di lavoro
Name[ja]=ワークスペーステーマ
Name[ko]=작업 공간 모양
Name[lt]=Darbo erdvės apipavidalinimas
Name[nb]=Tema for arbeidsområde
Name[nds]=Arbeitrebeet-Muster
Name[nl]=Thema van werkruimte
Name[nn]=Tema for arbeids­område
Name[pa]=ਵਰਕਸਪੇਸ ਥੀਮ
Name[pl]=Wygląd przestrzeni roboczej
Name[pt]=Tema da Área de Trabalho
Name[pt_BR]=Tema do Espaço de Trabalho
Name[ro]=Tematica spațiului de lucru
Name[ru]=Оформление рабочей среды
Name[sk]=Téma pracovnej plochy
Name[sl]=Tema delovnega prostora
Name[sr]=Тема радног простора
Name[sr@ijekavian]=Тема радног простора
Name[sr@ijekavianlatin]=Tema radnog prostora
Name[sr@latin]=Tema radnog prostora
Name[sv]=Arbetsytans tema
Name[tr]=Çalışma Alanı Teması
Name[uk]=Тема робочого простору
Name[x-test]=xxWorkspace Themexx
Name[zh_CN]=工作空间主题
Name[zh_TW]=工作空間主題
