[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=accessibility
X-KDE-System-Settings-Parent-Category=personal
Icon=access

Name=Accessibility
Name[ja]=アクセシビリティ
Name[sv]=Handikappstöd
Name[zh_TW]=無障礙
