[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-Weight=100
X-KDE-System-Settings-Category=general
X-KDE-System-Settings-Parent-Category=

# ctxt: Settings for common user needs (tab in System Settings).
Name=General
Name[cs]=Obecné
Name[csb]=Spòdlowé
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικά
Name[et]=Üldine
Name[fi]=Yleisasetukset
Name[gu]=સામાન્ય
Name[is]=Almennt
Name[km]=ទូទៅ
Name[lv]=Pamata
Name[ml]=പൊതുവായ
Name[nb]=Generelt
Name[nds]=Allmeen
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ru]=Основные
Name[sl]=Splošno
Name[sr]=Опште
Name[sr@latin]=Opšte
Name[sv]=Allmänt
Name[tg]=Умумӣ
Name[tr]=Genel
Name[uk]=Загальне
Name[zh_CN]=常规
Name[zh_TW]=一般
