[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=rootcategory
X-KDE-System-Settings-Parent-Category=

X-KDE-Weight=1

Name=Root
