[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=networksettings
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=10
Icon=preferences-system-network

Name=Wi-Fi & Internet
