[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=applications-permissions
X-KDE-System-Settings-Parent-Category=security-privacy
X-KDE-Weight=20
Icon=preferences-security

Name=Application Permissions
Name[ast]=Permisos de les aplicaciones
Name[bg]=Разрешения за приложения
Name[ca]=Permisos de les aplicacions
Name[ca@valencia]=Permisos de les aplicacions
Name[cs]=Oprávnění aplikace
Name[eo]=Aplikaĵaj Rajtigoj
Name[es]=Permisos de las aplicaciones
Name[eu]=Aplikazioen baimenak
Name[fr]=Permissions des applications
Name[gl]=Permisos de aplicacións
Name[he]=הרשאות יישומים
Name[ia]=Permissiones de Application
Name[is]=Forritaheimildir
Name[it]=Permessi delle applicazioni
Name[ka]=აპლიკაციის წვდომები
Name[ko]=앱 권한
Name[nl]=Rechten van toepassingen
Name[pl]=Uprawnienia programów
Name[pt_BR]=Permissões de aplicativos
Name[sa]=अनुप्रयोगस्य अनुमतिः
Name[sl]=Dovoljenja aplikacij
Name[ta]=செயலிகளுக்கான அனுமதிகள்
Name[tr]=Uygulama İzinleri
Name[uk]=Права доступу програм
Name[x-test]=xxApplication Permissionsxx
Name[zh_CN]=应用程序权限
Name[zh_TW]=應用程式權限
