[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-appearance-and-behavior
X-KDE-System-Settings-Parent-Category=general
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Application Appearance and Behavior
Name[sv]=Programutseende och beteende
Name[uk]=Вигляд і поведінка вікон програм
Name[x-test]=xxApplication Appearance and Behaviorxx
