[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=about-me
X-KDE-System-Settings-Parent-Category=personal

Name=About Me
Icon=identity
