[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=workspace-appearance-and-behavior
X-KDE-System-Settings-Parent-Category=general
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Workspace Appearance and Behavior
