[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=connectivity
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=50
Icon=preferences-system-network-connection

Name=Connectivity
Name[ca]=Connectivitat
Name[cs]=Připojení
Name[de]=Verbindungen
Name[en_GB]=Connectivity
Name[es]=Conectividad
Name[fi]=Verkkoyhteydet
Name[id]=Konektivitas
Name[ko]=연결
Name[nds]=Verbinnen
Name[nl]=Connectiviteit
Name[pl]=Łączność
Name[pt]=Conectividade
Name[pt_BR]=Conectividade
Name[ru]=Связь
Name[sk]=Pripojiteľnosť
Name[sl]=Povezljivost
Name[sr]=Повезивост
Name[sr@ijekavian]=Повезивост
Name[sr@ijekavianlatin]=Povezivost
Name[sr@latin]=Povezivost
Name[sv]=Anslutningar
Name[uk]=З'єднання
Name[x-test]=xxConnectivityxx
