[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=audio-and-video
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=200
Icon=applications-multimedia

Name=Audio and Video
Name[cs]=Audio a video
Name[en_GB]=Audio and Video
Name[ia]= Audio e Video
Name[kk]=Аудио мен Видео
Name[pt]=Áudio e Vídeo
Name[pt_BR]=Áudio e vídeo
Name[sv]=Ljud och video
Name[uk]=Звук та відео
Name[x-test]=xxAudio and Videoxx
Name[zh_TW]=音效與影像
