[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-appearance
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-theme

Name=Application Appearance
Name[en_GB]=Application Appearance
Name[ia]=Apparentia  de Application
Name[kk]=Қолданба көрінісі
Name[nb]=Programutseende
Name[nl]=Uiterlijk van programma
Name[pt]=Aparência das Aplicações
Name[pt_BR]=Aparência dos aplicativos
Name[sv]=Programutseende
Name[uk]=Вигляд вікон програм
Name[x-test]=xxApplication Appearancexx
Name[zh_TW]=應用程式外觀
