[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-administration
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=200
Icon=preferences-system

Name=System Administration
Name[nl]=Systeemadministratie
Name[uk]=Керування системою
Name[x-test]=xxSystem Administrationxx
