[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=about-me
X-KDE-System-Settings-Parent-Category=personal
Icon=preferences-desktop-user

Name=About Me
Name[ar]=أجهضت
Name[bg]=За мен
Name[de]=Persönliche Informationen
Name[el]=Σχετικά με μένα
Name[es]=Acerca de mí
Name[fa]=درباره من
Name[ga]=Maidir Liomsa
Name[he]=אודותיי
Name[ja]=個人情報
Name[km]=អំពី​ខ្ញុំ​
Name[nds]=Brukerdaten
Name[nl]=Info over mij
Name[pa]=ਮੇਰੇ ਬਾਰੇ
Name[pt]=Acerca de Mim
Name[pt_BR]=Acerca de Mim
Name[sl]=O meni
Name[sv]=Om mig
Name[uk]=Про мене
Name[zh_CN]=关于我自己
Name[zh_TW]=關於我
