[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SystemSettingsCategory
Name=System Settings Category
Name[nl]=Systeeminstellingen-catagorie
Name[uk]=Категорія системних параметрів
Name[x-test]=xxSystem Settings Categoryxx

# the category identifier
[PropertyDef::X-KDE-System-Settings-Category]
Type=QString

# the parent category identifier
[PropertyDef::X-KDE-System-Settings-Parent-Category]
Type=QString

# parent category identifier version 2
[PropertyDef::X-KDE-System-Settings-Parent-Category-V2]
Type=QString
