[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=SystemSettingsCategory
Name=System Settings Category
Name[ar]=فئة إعدادات النظام
Name[bg]=Категория системни настройки
Name[de]=Systemeinstellungen-Kategorie
Name[el]=Κατηγορία ρυθμίσεων συστήματος
Name[es]=Categoría de preferencias del sistema
Name[fa]=دسته تنظیمات سیستم
Name[he]=קטגוריית הגדרות מערכת
Name[ja]=システム設定のカテゴリ
Name[kk]=Жүйе параметрлер санаты
Name[km]=ប្រភេទ​ការ​កំណត់​ប្រព័ន្ធ​
Name[ko]=시스템 설정 분류
Name[nb]=Kategori for systeminnstillinger
Name[nds]=Kategorie Systeeminstellen
Name[ne]=प्रणाली सेटिङ कोटि
Name[nl]=Systeeminstellingen-catagorie
Name[nn]=Kategori for systemval
Name[pa]=ਸਿਸਟਮ ਸੈਟਿੰਗ ਕੈਟਾਗਰੀ
Name[pt]=Categoria da Configuração do Sistema
Name[pt_BR]=Categoria das Configurações do Sistema
Name[sv]=Systeminställningskategori
Name[th]=หมวดหมู่การตั้งค่าระบบ
Name[uk]=Категорія системних параметрів
Name[wa]=Categoreye d' apontiaedjes do sistinme
Name[x-test]=xxSystem Settings Categoryxx
Name[zh_CN]=系统设置类别
Name[zh_TW]=系統設定類別

# the category identifier
[PropertyDef::X-KDE-System-Settings-Category]
Type=QString

# the parent category identifier
[PropertyDef::X-KDE-System-Settings-Parent-Category]
Type=QString
