[Desktop Entry]
Icon=view-list-icons
Type=Service
X-KDE-ServiceTypes=SystemSettingsView

X-KDE-Library=icon_mode
X-KDE-Keywords=System Settings

Name=Icon View
Name[be]=Значкі
Name[be@latin]=Значкі
Name[br]=Gwel Arlun
Name[cy]=Golwg Eicon
Name[et]=Vaade ikoonidena
Name[ga]=Amharc Deilbhíní
Name[hr]=Prikaz ikona
Name[ka]=ხატულებით ჩვენება
Name[vi]=Xem kiểu Biểu tượng
Name[xh]=Imboniselo Yophawu lomfanekiso
Comment=The KDE 4 icon view style
