[Desktop Entry]
Icon=view-list-icons
Type=Service
X-KDE-ServiceTypes=SystemSettingsView

X-KDE-Library=icon_mode
X-KDE-Keywords=System Settings

Name=Icon View
Name[be]=Значкі
Name[be@latin]=Значкі
Name[bg]=Икони
Name[br]=Gwel Arlun
Name[ca]=Vista d'icones
Name[ca@valencia]=Vista d'icones
Name[cs]=Zobrazení s ikonami
Name[csb]=Wëzdrzatk ikònów
Name[cy]=Golwg Eicon
Name[da]=Ikonvisning
Name[de]=Symbolansicht
Name[et]=Vaade ikoonidena
Name[fi]=Kuvakenäkymä
Name[fr]=Affichage des icônes
Name[fy]=Byldkaike werjefte
Name[ga]=Amharc Deilbhíní
Name[gl]=Vista de iconas
Name[gu]=ચિહ્ન દેખાવ
Name[hr]=Prikaz ikona
Name[hu]=Ikonnézet
Name[is]=Táknmyndasýn
Name[ka]=ხატულებით ჩვენება
Name[km]=ទិដ្ឋភាព​រូបតំណាង
Name[ko]=아이콘 보기
Name[lv]=Ikonu skats
Name[mk]=Преглед со икони
Name[ml]=ചിഹ്നങ്ങളായ അവതരണരീതി
Name[nb]=Ikonvisning
Name[nds]=Lüttbild-Ansicht
Name[nl]=Pictogramweergave
Name[nn]=Ikonvising
Name[pl]=Widok ikon
Name[pt]=Vista por Ícones
Name[pt_BR]=Visão em ícone
Name[ro]=Vizualizare pictograme
Name[ru]=Значки
Name[sl]=Prikaz z ikonami
Name[sv]=Ikonvy
Name[tg]=Намоишгари ҳарфҳо
Name[tr]=Simge Görünümü
Name[uk]=Переглядач шрифтів
Name[vi]=Xem kiểu Biểu tượng
Name[wa]=Vuwe des imådjetes
Name[xh]=Imboniselo Yophawu lomfanekiso
Name[x-test]=xxIcon Viewxx
Name[zh_CN]=图标视图
Name[zh_TW]=圖示檢視
Comment=The KDE 4 icon view style
Comment[bg]=Стилът на иконите в KDE 4
Comment[ca]=L'estil de vista d'icones del KDE 4
Comment[ca@valencia]=L'estil de vista d'icones del KDE 4
Comment[csb]=Sztél KDE 4 wëzdrzatkù ikònów
Comment[da]=KDE 4 ikonvisningsstil
Comment[de]=Die KDE-4-Ansicht mit Symbolen
Comment[et]=KDE4 ikoonivaate stiil
Comment[fi]=KDE 4 -tyylinen kuvakenäkymä
Comment[fr]=Le style d'affichage des icônes de KDE 4
Comment[fy]=De KDE 4 byldkaike werjefte styl
Comment[gl]=Un estilo de vista en iconas de KDE 4
Comment[hu]=KDE 4 ikonnézeti stílus
Comment[is]=Stíll KDE 4 táknmyndasýnar
Comment[km]=រចនាប័ទ្ម​ទិដ្ឋភាព​រូបតំណាង​របស់ KDE 4
Comment[ko]=KDE 4 아이콘 보기 스타일
Comment[lv]=KDE 4 ikonu skata stils
Comment[ml]=കെഡിഈ 4 ബിംബ ദര്‍ശന മട്ട്
Comment[nb]=Ikonvisningsstilen til KDE 4
Comment[nds]=De Lüttbildansicht vun KDE-4
Comment[nl]=Stijl voor KDE4 pictogramweergave
Comment[nn]=Ikonvisingsstilen i KDE 4
Comment[pl]=Styl widoku ikon KDE 4
Comment[pt]=O estilo de vista com ícones para o KDE 4
Comment[pt_BR]=O estilo de visão em ícone do KDE 4
Comment[ro]=Stilul KDE 4 de vizualizare pe pictograme
Comment[sl]=Slog prikaza z ikonami iz KDE 4
Comment[sv]=KDE 4 ikonvystil
Comment[tr]=KDE4 simge görünümü biçimi
Comment[uk]=Стиль перегляду з піктограмами KDE 4
Comment[wa]=Li stîle di vuwe des imådjetes KDE 4
Comment[x-test]=xxThe KDE 4 icon view stylexx
Comment[zh_CN]=KDE 4 图标视图风格
Comment[zh_TW]=KDE4 圖示檢視風格
