# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=InfoCenterExternalApp
Name=Info Center External Application
Name[ar]=تطبيق خارجيّ لمركز المعلومات
Name[az]=İnformasiya Mərkəzi Xarici Tərbiqi
Name[bg]=Външно приложение за системна информация
Name[ca]=Aplicació externa de centre d'informació
Name[ca@valencia]=Aplicació externa de centre d'informació
Name[cs]=Externí program pro informační centrum
Name[el]=Κέντρο πληροφοριών εξωτερική εφαρμογή
Name[en_GB]=Info Center External Application
Name[es]=Aplicación externa del centro de información
Name[eu]=Sistemako ezarpenen kanpoko aplikazioa
Name[fi]=Ulkoinen tietokeskussovellus
Name[fr]=Application externe pour la configuration du système
Name[hi]=सूचना केंद्र बाहरी अनुप्रयोग
Name[hu]=Külső Rendszerinformáció-alkalmazás
Name[ia]=Application externe de centro de information
Name[id]=Aplikasi Eksternal Info Center
Name[it]=Applicazione esterna delle informazioni di sistema
Name[ka]=საინფორმაციო ცენტრის გარე აპლიკაცია
Name[ko]=정보 센터 외부 프로그램
Name[lt]=Išorinė informacinio centro programa
Name[nl]=Externe toepassing van informatiecentrum
Name[nn]=Eksternt program for informasjonssenter
Name[pa]=ਜਾਣਕਾਰੀ ਕੇਂਦਰ ਬਾਹਰੀ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Zewnętrzny program Szczegółów Systemu
Name[pt]=Aplicação Externa da Informação do Sistema
Name[pt_BR]=Aplicativo externo da central de informações
Name[ro]=Aplicație externă Centru de Informații
Name[ru]=Внешнее приложение «Информации о системе»
Name[sk]=Externá aplikácia systémových nastavení
Name[sl]=Zunanji program za informacijski center
Name[sv]=Externt program för informationscentralen
Name[ta]=கணினி விவரங்களுக்கான வெளி செயலி
Name[tr]=Bilgi Merkezi Dış Uygulaması
Name[uk]=Зовнішня програма «Центру інформації»
Name[vi]=Ứng dụng ngoài trong Trung tâm thông tin
Name[x-test]=xxInfo Center External Applicationxx
Name[zh_CN]=系统信息中心外部应用程序
