[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SystemSettingsView
Name=System Settings View
Name[ca]=Vista de l'arranjament del sistema
Name[ca@valencia]=Vista de l'arranjament del sistema
Name[csb]=Wëzdrzatk systemòwégò nastôwù
Name[da]=Visning af Systemindstillinger
Name[de]=Systemeinstellungen-Ansicht
Name[et]=Süsteemi seadistuste vaade
Name[fi]=Järjestelmän asetukset -näkymä
Name[gu]=સિસ્ટમ ગોઠવણીઓ દેખાવ
Name[is]=Sýn á kerfisstillingar
Name[km]=ទិដ្ឋភាព​ការ​កំណត់​ប្រព័ន្ធ​
Name[ko]=시스템 설정 보기
Name[lv]=Sistēmas iestatījumu skats
Name[ml]=സിസ്റ്റം സജ്ജീകരണങ്ങള്‍ അവതരണരീതി
Name[nb]=Visning av systeminnstillinger
Name[nds]=Systeeminstellen-Anischt
Name[pt]=Vista da Configuração do Sistema
Name[pt_BR]=Visão das configurações do sistema
Name[sl]=Prikaz sistemskih nastavitev
Name[sv]=Systeminställningsvy
Name[tr]=Sistem Ayarları Görünümü
Name[uk]=Вигляд «Системних параметрів»
Name[wa]=Vuwe des tchuzes do sistinme
Name[zh_CN]=系统设置视图
Name[zh_TW]=系統設定檢視
