[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SystemSettingsExternalApp
Name=System Settings External Application
Name[hr]=Sustavske postavke Izvanjske aplikacije
Name[id]=Sistem Pengaturan Aplikasi Eksternal
Name[nb]=Systeminnstillinger eksternt program
Name[nds]=Systeeminstellen Extern Programm
Name[nn]=Eksternt program for systemoppsett
Name[pt]=Aplicação Externa da Configuração do Sistema
Name[pt_BR]=Aplicativo externo das configurações do sistema
Name[ro]=Aplicație externă Configurări de sistem
Name[sv]=Externt program för systeminställningar
Name[tg]=Танзимоти системаи барномаҳои берунӣ
Name[tr]=Sistem Ayarları Dış Uygulaması
Name[uk]=Зовнішня програма системних параметрів
Name[x-test]=xxSystem Settings External Applicationxx
Name[zh_TW]=系統設定外部應用程式
