[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SystemSettingsView
Name=System Settings View
Name[csb]=Wëzdrzatk systemòwégò nastôwù
Name[da]=Visning af Systemindstillinger
Name[et]=Süsteemi seadistuste vaade
Name[fi]=Järjestelmän asetukset -näkymä
Name[gu]=સિસ્ટમ ગોઠવણીઓ દેખાવ
Name[km]=ទិដ្ឋភាព​ការ​កំណត់​ប្រព័ន្ធ​
Name[lv]=Sistēmas iestatījumu skats
Name[nds]=Systeeminstellen-Anischt
Name[pt]=Vista da Configuração do Sistema
Name[pt_BR]=Visão das configurações do sistema
Name[sv]=Systeminställningsvy
Name[tr]=Sistem Ayarları Görünümü
Name[uk]=Вигляд «Системних параметрів»
Name[zh_CN]=系统设置视图
Name[zh_TW]=系統設定檢視
