[Desktop Entry]
Exec=systemsettings -caption "%c" %i
Icon=preferences-system
Type=Application
X-DocPath=systemsettings/index.html
X-KDE-StartupNotify=true
NotShowIn=KDE;

GenericName=KDE System Settings
GenericName[ca]=Arranjament del sistema del KDE
GenericName[cs]=Nastavení systému KDE
GenericName[da]=KDE Systemindstillinger
GenericName[de]=KDE-Systemeinstellungen
GenericName[eu]=KDE Sistemaren Ezarpenak
GenericName[fi]=KDE:n järjestelmäasetukset
GenericName[hu]=KDE Rendszerbeállítások
GenericName[ia]=Preferentias de systema KDE
GenericName[kk]=KDE жүйелік параметрлері
GenericName[lt]=KDE sistemos nustatymai
GenericName[nb]=KDE Systeminnstillinger
GenericName[nds]=KDE-Systeeminstellen
GenericName[nl]=KDE-systeeminstellingen
GenericName[pa]=KDE ਸਿਸਟਮ ਸੈਟਿੰਗ
GenericName[pt]=Configuração do Sistema KDE
GenericName[pt_BR]=Configurações do sistema KDE
GenericName[ro]=Configurări de sistem
GenericName[sv]=KDE:s systeminställningar
GenericName[uk]=Системні параметри KDE
GenericName[x-test]=xxKDE System Settingsxx
GenericName[zh_CN]=KDE 系统设置
GenericName[zh_TW]=KDE 系統設定

Name=KDE System Settings
Name[ca]=Arranjament del sistema del KDE
Name[cs]=Nastavení systému KDE
Name[da]=KDE Systemindstillinger
Name[de]=KDE-Systemeinstellungen
Name[eu]=KDE Sistemaren Ezarpenak
Name[fi]=KDE:n järjestelmäasetukset
Name[hu]=KDE Rendszerbeállítások
Name[ia]=Preferentias de systema KDE
Name[kk]=KDE жүйелік параметрлері
Name[lt]=KDE sistemos nustatymai
Name[nb]=KDE Systeminnstillinger
Name[nds]=KDE-Systeeminstellen
Name[nl]=KDE-systeeminstellingen
Name[pa]=KDE ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pt]=Configuração do Sistema KDE
Name[pt_BR]=Configurações do sistema KDE
Name[ro]=Configurări de sistem KDE
Name[sv]=KDE:s systeminställningar
Name[uk]=Системні параметри KDE
Name[x-test]=xxKDE System Settingsxx
Name[zh_CN]=KDE 系统设置
Name[zh_TW]=KDE 系統設定

X-DBUS-StartupType=Unique
Categories=Qt;KDE;Settings;
