[Desktop Entry]
Exec=systemsettings
Icon=preferences-system
Type=Application
X-DocPath=systemsettings/index.html
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

GenericName=System Settings
GenericName[nl]=Systeeminstellingen
GenericName[uk]=Системні параметри
GenericName[x-test]=xxSystem Settingsxx

Name=System Settings
Name[nl]=Systeeminstellingen
Name[uk]=Системні параметри
Name[x-test]=xxSystem Settingsxx

X-DBUS-StartupType=Unique
Categories=Qt;KDE;Settings;
