<?xml version="1.0" encoding="UTF-8"?>
<gui name="systemsettings"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>
  </MenuBar>
  <ToolBar name="configure" >
    <text>Configuration</text>
    <Action name="options_configure" />
  </ToolBar>
  <ToolBar name="mainToolBar" >
    <text>About System Settings</text>
    <Action name="aboutSystemSettings" />
  </ToolBar>
  <ToolBar name="search">
    <text>Search modules</text>
    <Action name="spacer" />
    <Action name="searchText" />
  </ToolBar>
</gui>
