[Desktop Entry]
Exec=systemsettings -caption "%c" %i
Icon=preferences-system
Type=Application
X-DocPath=systemsettings/index.html
X-KDE-StartupNotify=true

GenericName=System Settings

Name=System Settings

X-DBUS-StartupType=Unique
Categories=Qt;KDE;Settings;
