[Desktop Entry]
Exec=systemsettings
Icon=preferences-system
Type=Application
X-DocPath=systemsettings/index.html
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

GenericName=System Settings

Name=System Settings

X-DBUS-StartupType=Unique
Categories=Qt;KDE;Settings;
