[Desktop Entry]
Name=Sidebar View
Name[ca]=Vista de barra lateral
Name[ca@valencia]=Vista de barra lateral
Name[de]=Seitenleistenansicht
Name[el]=Προβολή πλευρικής μπάρας
Name[en_GB]=Sidebar View
Name[es]=Vista de barra lateral
Name[fi]=Sivupalkkinäkymä
Name[fr]=Vue avec panneau latéral
Name[he]=תצוגת סרגל צד
Name[it]=Vista barra laterale
Name[lt]=Šoninė juosta
Name[nl]=Zijbalkweergave
Name[pl]=Widok paska bocznego
Name[pt]=Vista da Barra Lateral
Name[sl]=Pogled stranske vrstice
Name[sr]=Приказ бочне траке
Name[sr@ijekavian]=Приказ бочне траке
Name[sr@ijekavianlatin]=Prikaz bočne trake
Name[sr@latin]=Prikaz bočne trake
Name[sv]=Sidorad
Name[uk]=Бічна панель
Name[x-test]=xxSidebar Viewxx
Comment=Categorized sidebar style
Comment[ca]=Estil de barra lateral categoritzat
Comment[ca@valencia]=Estil de barra lateral categoritzat
Comment[el]=Στιλ κατηγοριοποιημένης πλευρικής μπάρας
Comment[en_GB]=Categorised sidebar style
Comment[es]=Estilo de barra lateral con categorías
Comment[fi]=Luokiteltu sivupalkkityyli
Comment[fr]=Style avec panneau latéral catégorisé
Comment[he]=תצוגת סרגל צד לפי קטגוריות
Comment[it]=Stile barra laterale con categorie
Comment[lt]=Šoninė juosta su kategorijomis
Comment[nl]=Gecategoriseerde zijbalkstijl
Comment[pl]=Skategoryzowany wygląd paska bocznego
Comment[pt]=Estilo de barra lateral por categorias
Comment[sl]=Kategoriziran slog stranske vrstice
Comment[sr]=Стиле бочне траке по категоријама
Comment[sr@ijekavian]=Стиле бочне траке по категоријама
Comment[sr@ijekavianlatin]=Stile bočne trake po kategorijama
Comment[sr@latin]=Stile bočne trake po kategorijama
Comment[sv]=Kategoriserad sidoradstil
Comment[uk]=Категоризований стиль бічної панелі
Comment[x-test]=xxCategorized sidebar stylexx
Icon=view-sidetree
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.systemsettings.sidebar
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/GenericQML
X-Plasma-MainScript=ui/main.qml
