[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell audiocd
Icon=cdaudio_unmount
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=audiocd

Name=Audio Encoding
Name[bg]=Аудио кодиране
Name[da]=Lydkodning
Name[de]=Audio-Kodierung
Name[es]=Codificación de audio
Name[gl]=Codificazón de Áudio
Name[ja]=オーディオエンコーディング
Name[nl]=Audiocodering
Name[pt]=Codificação de Áudio
Name[pt_BR]=Codificação de Áudio
Name[sv]=Ljudkodning
Comment=Audiocd IO Slave Configuration
Comment[bg]=Настройка на Audiocd IO Slave
Comment[da]=Indstil I/O-slave for lyd-cd
Comment[de]=Konfiguration des Audio-CD Ein-/Ausgabemoduls
Comment[es]=Configuración del esclavo ES Audiocd
Comment[gl]=Configurazón do IO Slave de Audiocd
Comment[ja]=オーディオ CD IO スレーブの設定
Comment[nl]=Audiocd IO-slave instellen
Comment[pt]=Configuração do IO Slave de CDs-Áudio
Comment[pt_BR]=Configuração do IO Slave de CDs-Áudio
Comment[sv]=Anpassa I/O-slav för ljud-cd
Keywords=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[da]=lyd-cd,cd,Ogg,Vorbis,kodning,CDDA,bitrate
Keywords[de]=Audio CD,CD,Ogg,Vorbis,Kodierung,CDDA,Bitrate
Keywords[es]=CD de Audio,CD,Ogg,Vorbis,Codificar,CDDA,Tasa de bit
Keywords[ga]=CD Fuaime,CD,Ogg,Vorbis,Ionchódú,CDDA,Ráta Giotán
Keywords[gl]=Audio CD,CD,Ogg,Vorbis,Codificar,CDDA,Bitrate
Keywords[ja]=オーディオ CD,CD,Ogg,Vorbis,エンコーディング,CDDA,ビットレート
Keywords[nl]=Audio-cd,cd,Ogg,Vorbis,Encoding,CDDA,Bitrate,codering,rippen,bitsnelheid
Keywords[pt]=CD Áudio,CD,Ogg,Vorbis,Codificação,CDDA,Taxa
Keywords[pt_BR]=CD Áudio,CD,Ogg,Vorbis,Codificação,CDDA,Taxa
Keywords[sv]=ljud-cd,cd,Ogg,Vorbis,kodning,CDDA,bithastighet

## keep this out of kcontrol
#Categories=Qt;KDE;X-KDE-settings-sound;
