[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell audiocd
Icon=cdaudio_unmount
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=audiocd

Name=Audio Encoding
Name[sv]=Ljudkodning
Comment=Audiocd IO Slave Configuration
Comment[sv]=Anpassa I/O-slav för ljud-cd
Keywords=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[sv]=ljud-cd,cd,Ogg,Vorbis,kodning,CDDA,bithastighet

## keep this out of kcontrol
#Categories=Qt;KDE;X-KDE-settings-sound;
