[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell audiocd
Icon=cdaudio_unmount
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=audiocd

Name=Audio Encoding
Comment=Audiocd IO Slave Configuration
Comment[af]=Klank cd Io Slaaf Opstelling
Comment[ar]=اعدادات Audiocd IO Slave
Comment[az]=Name=Audiosd IO Kölələri Quraşdırması
Comment[bg]=Настройки на протокола за операции с аудио диск
Comment[bn]=অডিও-সিডি আই/ও স্লেভ কনফিগারেশন
Comment[bs]=Podešavanje Audiocd IO Slave
Comment[ca]=Configuració de l'E/S esclava dels CD àudio
Comment[cs]=Nastavení IO klienta pro zvuková CD
Comment[cy]=Gosodiad Gwas IO ar gyfer CDau Sain
Comment[da]=Lyd-cd IO-slave-indstilling
Comment[de]=Einrichtung des Ein-/Ausgabemoduls für Audio-CDs
Comment[el]=Ρύθμιση Audiocd IO Slave
Comment[eo]=Agordo por la muzikdiska sklavo
Comment[es]=Configuración del esclavo de E/S de audiocd
Comment[et]=Audio CD IO mooduli seadistamine
Comment[eu]=Audiocd IO mendekoaren konfigurazioa
Comment[fi]=Audiocd-siirräntätyöskentelijän asetukset
Comment[fr]=Configuration du module pour CD audio
Comment[he]=שינוי הגדרות פרוטוקול תקליטורי השמע
Comment[hi]=ऑडियो-सीडी आई-ओ स्लेव कॉन्फ़िगरेशन
Comment[hr]=Postava Audiocd IO poslužnika
Comment[hu]=Az audiocd KDE-protokoll beállításai
Comment[is]=Stillingar Audiocd I/O þrælsins
Comment[it]=Configurazione dell'IO Slave per i CD Audio
Comment[ja]=オーディオCD IO Slave の設定
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ IO Slave របស់​ស៊ីឌី​អូឌីយ៉ូ
Comment[ko]=소리(오디오)시디 IO 슬레이브 설정
Comment[lt]=Audio kompakto IO vergo derinimas
Comment[ms]=Penyelarasan Hamba IO Audiocd
Comment[mt]=Konfigurazzjoni tal-iskjav IO AudioCD
Comment[nb]=Oppsett av lyd-CD IO-slave
Comment[nl]=AudioCD IO slave instellen
Comment[nn]=Oppsett av IU-slave for lyd-CD
Comment[pa]=ਆਡੀਓ ਸੀਡੀ IO ਸਲੇਵ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja procedury we/wy dla audio CD
Comment[pt]=Configuração do IO Slave de CDs-Áudio
Comment[pt_BR]=Configuração do Áudio CD Escravo
Comment[ro]=Configurează dispozitivul I/O pentru CD audio
Comment[ru]=Настройка протокола AudioCD
Comment[se]=Heivet SO-šláva jietna-CD:aid várás
Comment[sk]=Nastavenie IO klienta pre zvukové CD
Comment[sl]=Nastavitve Audiocd podrejeni V/I
Comment[sr]=Подешавање Audiocd IO Slave-а
Comment[sr@Latn]=Podešavanje Audiocd IO Slave-a
Comment[sv]=Anpassa I/O-slav för ljud-cd
Comment[ta]=ஒலிக் குறுந்தகடு உள்-வெளி அடிமை வடிவமைப்பு
Comment[tg]=Танзими Фармонбари Ворид/Хориҷи Дискҳои Фишурдаи Садо
Comment[tr]=Müzik CD Yapılandırması
Comment[uk]=Налаштування підлеглого В/В "Audiocd"
Comment[ven]=Nzudzanyo Audiocd IO Slave
Comment[xh]=Video-DVD IO Slave Uqwalaselo
Comment[zh_CN]=音频 CD 输入输出从属模块配置
Comment[zh_HK]=音樂 CD IO Slave 設定
Comment[zh_TW]=音樂 CD IO Slave 組態
Comment[zu]=Inhlanganiselo ye-Audiocd IO Slave
Keywords=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[bg]=аудио, диск, компактдиск, КД, кодек, музика, Audio CD, CD, Ogg, Vorbis, Encoding, CDDA, Bitrate
Keywords[ca]=Àudio CD,CD,Ogg,Vorbis,Codificació,CDDA,Taxa de bits
Keywords[cs]=Zvukové CD,CD,Ogg,Vorbis,Kódování,CDDA,Bitrate,CDDB
Keywords[cy]=CD Sain,CD,crynoddisg,Ogg,Vorbis,Amgodio,CDDA,Cyfradd Ddidau
Keywords[da]=Lyd-cd,CD,Ogg,Vorbis,Indkodning,CDDA,Bitrate
Keywords[de]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,MP3
Keywords[el]=CD μουσικής,CD,Ogg,Vorbis,Κωδικοποίηση,CDDA,Ρυθμός bit
Keywords[es]=CD de audio,CD,Ogg,Vorbis,Codificación,CDDA,Ratio de bits
Keywords[et]=audio,CD,Ogg,Vorbis,kodeering,CDDA,bitikiirus
Keywords[eu]=Audio CD,CD,Ogg,Vorbis,Kdeketa,CDDA,bit-maiztasuna
Keywords[fi]=Ääni-CD,CD,Ogg,Vorbis,Koodaus,CDDA,Bittinopeus
Keywords[fr]=CD audio,CD,Ogg,Vorbis,Encodage,CDDA,débit
Keywords[ga]=CD Fuaime,CD,Ogg,Vorbis,Ionchódú,CDDA,Ráta Giotán
Keywords[hi]=ऑडियो सीडी,सीडी,ऑग,वॉर्बिस,एनकोडिंग,सीडीडीए,बिटरेट
Keywords[hu]=hang-CD,CD,Ogg,Vorbis,kódolás,CDDA,bitráta
Keywords[it]=CD Audio,CD,Ogg,Vorbis,Codifica,CDDA,Bitrate
Keywords[ja]=オーディオ CD,CD,Ogg,Vorbis,エンコーディング,CDDA,ビットレート
Keywords[km]=ស៊ីឌី​អូឌីយ៉ូ,ស៊ីឌី,Ogg,Vorbis,អ៊ិនកូដ,CDDA,អត្រាប៊ីត
Keywords[lt]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,įkodavimas,perkodavimas,bitų dažnis
Keywords[mk]=Аудио CD,CD,Ogg,Vorbis,Кодирање,CDDA,Брзина во битови
Keywords[nb]=Audio CD,CD,Ogg,Vorbis,Koding,CDDA,Bitrate
Keywords[nl]=Audio-cd,cd,Ogg,Vorbis,Encoding,CDDA,Bitrate
Keywords[nn]=lyd-CD,CD,Ogg,Vorbis,koding,CDDA,bitrate
Keywords[pa]=ਆਡੀਓ CD,CD,Ogg,Vorbis,ਇਕੋਡਿੰਗ,CDDA,ਬਿੱਟਰੇਟ
Keywords[pl]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate, Kodowanie
Keywords[pt]=CD Áudio,CD,Ogg,Vorbis,Codificação,CDDA,Taxa
Keywords[pt_BR]=CD de Áudio,CD,Ogg,Vorbis,Codificação,CDDA,Bitrate
Keywords[ro]=CD audio,ogg,vorbis,codare,CDDA,rată de bit
Keywords[ru]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate,битрейт
Keywords[sk]=zvukové CD,CD,Ogg,Vorbis,kódovanie,CDDA,bitová frekvencia
Keywords[sl]=Avdio CD,CD,Ogg,Vorbis,kodiranje,CDDA,bitna hitrost
Keywords[sr]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate, Аудио CD, кодирање,битрата
Keywords[sr@Latn]=Audio CD,CD,Ogg,Vorbis,Encoding,CDDA,Bitrate, Audio CD, kodiranje,bitrata
Keywords[sv]=ljud-cd,cd,Ogg,Vorbis,kodning,CDDA,bithastighet
Keywords[ta]=கேட்பொலி குறுந்தகடு,குறுந்தகடு,ஓஜிஜி,வோர்பிஸ்,குறியிடுதல்,சிடிடேஏ,பிட் மதிப்பு
Keywords[tg]=Диски Фишурдаи Садо,Диски Фишурда,Ogg,Vorbis,Рамзигузор,CDDA,Bitrate
Keywords[tr]=Ses CD,CD,Ogg,Vorbis,Kodlama,CDDA,Bitrate
Keywords[uk]=Аудіо-КД,КД,Ogg,Vorbis,кодування,CDDA,частота вибірки
Keywords[zh_CN]=音频 CD,CD,Ogg,Vorbis,编码,CDDA,Bitrate

## keep this out of kcontrol
#Categories=Qt;KDE;X-KDE-settings-sound;
