[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell componentchooser
Icon=blockdevice
Type=Application

X-KDE-Library=componentchooser

X-KDE-ParentApp=kcontrol

Name=Default Applications
Comment=Choose the default application for various services
Keywords=components,component chooser,resources, email client, terminal emulator, default, browser
Categories=Qt;KDE;X-KDE-settings-components;
