[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell componentchooser
Icon=misc
Type=Application

X-KDE-Library=componentchooser

X-KDE-ParentApp=kcontrol

Name=Default Applications
Name[el]=Προκαθορισμένες εφαρμογές
Name[ga]=Feidhmchláir Réamhshocraithe
Name[it]=Applicazioni predefinite
Name[mt]=Programmi Standard
Name[nl]=Standaardtoepassingen
Name[pt_BR]=Aplicativos Padrão
Name[ru]=Приложения по умолчанию
Name[sv]=Förvalda program
Comment=Choose the default application for various services
Comment[el]=Επιλέξτε την προκαθορισμένη εφαρμογή για διάφορες υπηρεσίες
Comment[it]=Scegli l'applicazione predefinita per i diversi servizi
Comment[mt]=Agħżel il-programmi standard għas-servizzi
Comment[nl]=Kies de standaardtoepassingen voor diverse diensten
Comment[pt_BR]=Escolha o aplicativo padrão de váriso serviços
Comment[ru]=Выберите приложения по умолчанию для различных задач
Comment[sv]=Välj förvalt program för diverse tjänster
Keywords=components,component chooser,resources, email client, terminal emulator, default, browser
Keywords[el]=Στοιχεία, επιλογέας στοιχείων,πόροι, πελάτης email, εξομοιωτής τερματικού, προκαθορισμένα, περιηγητής
Keywords[it]=componenti,selettore componente,risorse, client posta elettronica, emulatore terminale, predefinito, browser
Keywords[nl]=componenten,componentkiezer,hulpbronnen,resources,e-mailprogramma,terminalemulatie,xterminal,console,standaard,default,webbrowser,browser,bladerprogramma
Keywords[pt_BR]=componentes,escolha de componente,recursos,cliente de e-mail,emulador de terminal, padrão, navegador
Keywords[ru]=компоненты,выбор компонентов,ресурсы,почтовый клиент,эмулятор терминала,браузер
Keywords[sv]=komponenter,komponentväljare,resurser,epost-klient,terminalemulator,förval,webbläsare
Categories=Qt;KDE;X-KDE-settings-user-account;
