# KDE Config File
[Desktop Entry]
Encoding=UTF-8
X-KDE-RootOnly=true

## Keep this out of kcontrol
#Categories=QT;KDE;X-KDE-settings-network;Configuration-KDE-Network-mdk;
X-KDE-ModuleType=Library
X-KDE-Library=knetworkconfmodule
X-KDE-FactoryName=knetworkconfmodule
Type=Application
Exec=kcmshell kcm_knetworkconfmodule
Icon=knetworkconf
DocPath=knetworkconf/index.docbook

Comment=Configure Network Connections
Comment[bg]=Настройка на системните връзки
Comment[de]=Netzwerkverbindungen konfigurieren
Comment[ga]=Cumraigh Naisc Líonra
Comment[gl]=Configurazón das Conexóns de Rede
Comment[ja]=ネットワーク接続の設定
Comment[nl]=Netwerkverbindingen instellen
Comment[pt]=Configurar as Ligações de Rede
Comment[pt_BR]=Configurar as Ligações de Rede
Terminal=false
Name=Network Connections
Name[bg]=Системни връзки
Name[de]=Netzwerkverbindungen
Name[ga]=Naisc Líonra
Name[gl]=Conexóns de Rede
Name[ja]=ネットワーク接続
Name[nl]=Netwerkverbindingen
Name[pt]=Ligações de Rede
Name[pt_BR]=Ligações de Rede
Keywords=Network,DNS,routes,interfaces
Keywords[br]=Rouedad,DNS,hentoù,etrefasoù
Keywords[de]=Netzwerk,DNS,Routen,Schnittstellen
Keywords[ga]=Líonra,DNS,róid,comhéadain
Keywords[gl]=Rede,DNS,rotas,interfaces
Keywords[ja]=ネットワーク,DNS,ルート,インターフェース
Keywords[nl]=netwerk,DNS,routes,interfaces,netwerkkaart
Keywords[pt]=rede,DNS,rotas,interfaces
Keywords[pt_BR]=rede,DNS,rotas,interfaces
