# KDE Config File
[Desktop Entry]
Encoding=UTF-8
X-KDE-RootOnly=true

## Keep this out of kcontrol
#Categories=QT;KDE;X-KDE-settings-network;Configuration-KDE-Network-mdk;
X-KDE-ModuleType=Library
X-KDE-Library=knetworkconfmodule
X-KDE-FactoryName=knetworkconfmodule
Type=Application
Exec=kcmshell kcm_knetworkconfmodule
Icon=knetworkconf
DocPath=knetworkconf/index.docbook

Comment=Configure Network Connections
Comment[bg]=Настройка на системните връзки
Comment[br]=Kefluniañ ar c'hevreadennoù rouedad
Comment[da]=Indstil netværksforbindelser
Comment[de]=Netzwerkverbindungen konfigurieren
Comment[el]=Ρύθμιση συνδέσεων δικτύου
Comment[es]=Configurar conexiones de red
Comment[ga]=Cumraigh Naisc Líonra
Comment[gl]=Configurazón das Conexóns de Rede
Comment[ja]=ネットワーク接続の設定
Comment[nl]=Netwerkverbindingen instellen
Comment[pt]=Configurar as Ligações de Rede
Comment[pt_BR]=Configuração das Conexões da Rede
Comment[sv]=Anpassa nätverksanslutningar
Terminal=false
Name=Network Connections
Name[bg]=Системни връзки
Name[br]=Kevreadurioù rouedad
Name[da]=Netværksforbindelser
Name[de]=Netzwerkverbindungen
Name[el]=Συνδέσεις δικτύου
Name[es]=Conexiones de red
Name[ga]=Naisc Líonra
Name[gl]=Conexóns de Rede
Name[ja]=ネットワーク接続
Name[nl]=Netwerkverbindingen
Name[pt]=Ligações de Rede
Name[pt_BR]=Conexões de Rede
Name[sv]=Nätverksanslutningar
Keywords=Network,DNS,routes,interfaces
Keywords[br]=Rouedad,DNS,hentoù,etrefasoù
Keywords[da]=Netværk,DNS,route,grænseflade
Keywords[de]=Netzwerk,DNS,Routen,Schnittstellen
Keywords[el]=δίκτυο,DNS,routes,διασύνδεση
Keywords[es]=Red,DNS,rutas,interfaces
Keywords[ga]=Líonra,DNS,róid,comhéadain
Keywords[gl]=Rede,DNS,rotas,interfaces
Keywords[ja]=ネットワーク,DNS,ルート,インターフェース
Keywords[nl]=netwerk,DNS,routes,interfaces,netwerkkaart
Keywords[pt]=rede,DNS,rotas,interfaces
Keywords[pt_BR]=Rede,DNS,rotas,interfaces
Keywords[sv]=Nätverk,DNS,route,gränssnitt
