[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmfontinst
Icon=fonts
Type=Application
DocPath=kcontrol/kcmfontinst/index.html


X-KDE-Library=fontinst
X-KDE-FactoryName=fontinst
X-KDE-RootOnly=true

X-KDE-ParentApp=kcontrol

Name=Fonts

Comment=Install & preview fonts

Keywords=font,fonts,installer,truetype,type1,speedo,bitmap

Categories=Qt;KDE;X-KDE-settings-system;
