[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmfontinst
Icon=fonts
Type=Application
DocPath=kcontrol/kcmfontinst/index.html


X-KDE-Library=fontinst
X-KDE-FactoryName=fontinst
X-KDE-RootOnly=true

X-KDE-ParentApp=kcontrol

Name=Fonts
Name[br]=Fontoù
Name[cs]=Písma
Name[cy]=Ffontiau
Name[el]=Γραμματοσειρές
Name[et]=Fondid
Name[ga]=Clónna
Name[it]=Caratteri
Name[lt]=Šriftai
Name[nl]=Lettertypen
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[ru]=Шрифты
Name[rw]=Imyandikire
Name[sv]=Teckensnitt
Name[tr]=Yazıtipleri
Name[xx]=xxFontsxx
Name[zh_CN]=字体

Comment=Install & preview fonts
Comment[cs]=Instalace a náhled písem
Comment[cy]=Gosod a rhagolygu ffontiau
Comment[da]=Installér og forhåndsvis skrifttyper
Comment[el]=Εγκατάσταση & προεπισκόπηση γραμματοσειρών
Comment[et]=Fontide paigaldamine ja eelvaatlus
Comment[ga]=Suiteáil & Réamhamharc na gClónna
Comment[it]=Installa e fornisce l'anteprima dei caratteri
Comment[lt]=Instaliuoja ir peržiūri šriftus
Comment[mt]=Installazzjoni u previżjoni ta' fonts
Comment[nl]=Lettertypen installeren en bekijken
Comment[pa]=ਫੋਂਟ ਇੰਸਟਾਲ ਕਰੋ ਅਤੇ ਝਲਕ ਵੇਖੋ
Comment[pl]=Instaluj i &przeglądaj czcionki
Comment[pt]=Instalar e antever tipos de letra
Comment[pt_BR]=Instalação & pré-visualização de fontes
Comment[ru]=Установка и управление шрифтами
Comment[rw]=Kwinjiza & kugaragazambere imyandikire
Comment[sv]=Installera och förhandsgranska teckensnitt
Comment[tr]=Yazıtiplerini kur ve önizle
Comment[xx]=xxInstall & preview fontsxx
Comment[zh_CN]=安装并预览字体

Keywords=font,fonts,installer,truetype,type1,speedo,bitmap
Keywords[br]=nodrezh,nodrezhoù,stalier,truetype,type1,speedo,bitmap
Keywords[cs]=písmo,písma,instalátor,truetype,type1,speedo,bitmap
Keywords[cy]=ffont,ffontiau,wynebfath, wynebfathau,arsefydlydd,truetype,type1,math 1,speedo,didfap
Keywords[da]=skrifttype,skrifttyper,installatør,truetype,type1,speedo,bitmap
Keywords[el]=γραμματοσειρά,γραμματοσειρές,εγκαταστάτης,truetype,type1,speedo,bitmap
Keywords[et]=font,fondid,paigaldamine,truetype,type1,speedo,bitmap
Keywords[ga]=cló,clónna,clófhoirne,suiteálaí,truetype,type1,speedo,mapa giotán,giotánmhapach
Keywords[it]=carattere,caratteri,installazione,truetype,type1,speedo,bitmap
Keywords[lt]=šriftas,šriftai,įdiegimas,truetype,type1,speedo,bitmap
Keywords[nl]=letters,lettertypen,fonts,installatie,truetype,type1,speedo,bitmap
Keywords[pa]=ਫੋਂਟ, ਇੰਸਟਾਲਰ,fonts,installer,truetype,type1,speedo,bitmap
Keywords[pl]=czcionka,czcionki,instalator,truetype,type1,speedo,mapa bitowa
Keywords[pt]=tipo de letra,tipos de letra,instalador,truetype,type1,speedo,bitmap
Keywords[pt_BR]=fonte,fontes,instalador,truetype,type1,speedo,bitmap
Keywords[ru]=шрифт,шрифты,установка,TTF,truetype,type1,speedo,bitmap
Keywords[rw]=Imyandikire,imyandikire,mwinjiza,ubwokonyabwo,ubwoko1,umuvuduko,bitimapu
Keywords[sv]=teckensnitt,installation,truetype,type1,speedo,bitmap
Keywords[tr]=yazıtipi,yazıtipleri,kurulum programı,trutype,type1,speedo,bit eşlem
Keywords[xx]=xxfont,fonts,installer,truetype,type1,speedo,bitmapxx
Keywords[zh_CN]=font,fonts,installer,truetype,type1,speedo,bitmap,字体,安装器,位图

Categories=Qt;KDE;X-KDE-settings-system;
