[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=laptop
X-KDE-FactoryName=laptop
X-KDE-Init=laptop
Exec=kcmshell laptop
Icon=laptop_battery
Type=Application
DocPath=kcontrol/laptop/index.html

## Keep this out of kcontrol
#Categories=Qt;KDE;X-KDE-settings-power;

Comment=Laptop Power Management
Comment[bg]=Захранване за лаптоп
Comment[ja]=ラップトップの電源管理
Comment[nl]=Laptop energiebeheer
Comment[pt]=Gestão de Energia de Portáteis
Comment[pt_BR]=Gestão de Energia de Portáteis
Name=Power Management
Name[bg]=Захранване
Name[ja]=電源管理
Name[nl]=Energiebeheer
Name[pt]=Gestão de Energia
Name[pt_BR]=Gestão de Energia
Init=klaptop_check
