[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=laptop
X-KDE-FactoryName=laptop
X-KDE-Init=laptop
Exec=kcmshell laptop
Icon=laptop_battery
Type=Application
DocPath=kcontrol/laptop/index.html

## Keep this out of kcontrol
#Categories=Qt;KDE;X-KDE-settings-power;

Comment=Laptop Power Management
Comment[ja]=ラップトップの電源管理
Comment[sv]=Strömhantering för bärbar dator
Comment[zh_TW]=筆記型電腦電源管理
Name=Power Management
Name[ja]=電源管理
Name[sv]=Energisparfunktion
Name[zh_TW]=電源管理
Init=klaptop_check
