[Desktop Entry]
Encoding=UTF-8
Type=Application
#DocPath=
Icon=system
Exec=kcmshell media


X-KDE-Library=media
X-KDE-FactoryName=media
#X-KDE-ParentApp=kcontrol

Name=Storage Media Notifications
Name[sv]=Underrättelser om lagringsmedia

Comment=Configure Storage Media Notifications
Comment[sv]=Anpassa underrättelser om lagringsmedia

Keywords=storage,media,usb,cdrom,device
Keywords[sv]=lagring,media,usb,cdrom,enhet

#Categories=Qt;KDE;X-KDE-settings-peripherals
